<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <popup id="noticePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/notice.html"/>
    <div class="main_wrapper">
        <div class="content_control_wrapper">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$basePath;?>/cases">Case Management</a> / <a href="<?=$basePath;?>/case/view?ID=<?=$caseID;?>"><?=$cname;?></a> / <?=$hname;?></p>
                </div>
                <div class="option_block">
                  <? if (!$isNew && ($canDelete || $isAdmin) && $depoStatusID != 'I') : ?>
					<a id="btnDelete" href="javascript:;" class="btn_red" onclick="deleteDepo(<?=$depoID?>);">
						<span class="btn_red_r">Delete</span>
					</a>
                    <? endif; ?>
                    <a href="<?=$cancelURL?>" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
                	<a href="javascript:;" onclick="saveDepo();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="depo_edit_content_block">
                	<div class="deposition_info_wrapper">
						<div class="deposition_header">
							<div class="f_l">
								<span class="label"><?=$hname;?></span>
							</div>
							<div class="f_r">
								<span class="label">Related To Case:</span>
								<span class="case"><?=$cname;?></span>
							</div>
						</div>
                    	<div class="deposition_info edit">
							<div class="deposition_row">
								<div class="f_l" style="width:180px;">
									<label>Name*</label>
									<textbox id="depositionOf" maxlength="250" autofocus="autofocus" style="width:258px"/>
									<validatorrequired id="valdepositionOf" controls="depositionOf" client="1" groups="depo" class="error2"/>
								</div>
                            </div>
                            <div class="deposition_row">
                            	<label>Date*</label>
                                <div class="calendar_block">
									<datetimepicker id="date" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar"/>
									<div class="clear"></div>
                                </div>
                            </div>
							<div>
                            	<validatorrequired id="valdatetime" controls="date" client="1" groups="depo" class="error2"/>
								<validatordate id="valdate" controls="date" groups="depo" hiding="1" class="error2" text="The date format is invalid"/>
								<div class="clear"></div>
                            </div>
                            <div class="deposition_row">
                                <label class="f_l">Location*</label>
                                <textbox id="location" maxlength="250" style="width:258px" autocomplete="off"/>
                                <validatorrequired id="vallocation" controls="location" client="1" groups="depo" class="error2" />
                            </div>
                            <div class="deposition_row">
                                <label>Session Passcode<?=$isNew?'*':'';?></label>
                                <textbox id="sPasscode" maxlength="250" style="width:258px" autocomplete="off"/>
                                <validatorrequired id="valpass" controls="sPasscode" client="1" groups="depo" class="error2" />
                            </div>
                        </div>
                        <div class="deposition_owner">
							<? if ($showOwnerPanel) : ?>
							<hidden id="ownerID"/>
							<div class="deposition_row">
                                <label>Owner*</label>
                                <div class="search_wrapper p_r0">
                                    <div class="search_input" style="width:611px;">
                                        <autofill id="ownerSearch" maxlength="255" callBack="->searchUsers" classContainer="autofill_search" classList="autofill" x="-1" y="5" placeholder="type only the first name to search users"/>
                                    </div>
                                </div>
								<validatorcustom id="valOwnerID" controls="ownerID" client="1" clientFunction="validateOwnerID"  groups="depo" class="error2" text="** Owner must be assigned. **" />
                            </div>
                            <div class="clear"></div>
							<panel id="depoOwner">
							<?php if( $hasOwner ) : ?>
							<table class="tbl_info">
								<tr class="zebra">
									<td width="20"></td>
									<td><textlabel tag="span" id="ownerName"/></td>
								</tr>
							</table>
							<?php endif; ?>
							</panel>
							<?php endif; ?>
                        	<div class="deposition_row">
                                <label>Assistants <a href="javascript:;" onclick="ajax.doit('->showAssistants');">?</a></label>
                                <div class="search_wrapper p_r0">
                                    <div class="search_input" style="width:611px;">
                                        <autofill id="userSearch" maxlength="255" callBack="->searchUsers" classContainer="autofill_search" classList="autofill" x="-1" y="5" placeholder="type only the first name to search users"/>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                    		<widgetusersearch id="users"/>
                            <div class="deposition_row">
                                <label>Details</label>
                                <memo id="notes" style="width:611px;height:84px;line-height:17px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div class="content_control_wrapper content_control_bottom">
            <div class="content_control">
                <div class="option_block">
					<? if (!$isNew && ($canDelete || $isAdmin) && $depoStatusID != 'I') : ?>
					<a id="btnDelete" href="javascript:;" class="btn_red" onclick="deleteDepo(<?=$depoID?>);">
						<span class="btn_red_r">Delete</span>
					</a>
					<? endif; ?>
                	<a href="<?=$cancelURL?>" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
                	<a href="javascript:;" onclick="saveDepo();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
                </div>
            </div>
        </div>
    </div>

	<panel id="userAutofillTemplate" visible="0">
		<ul class="assign_users_autofill">
			<? foreach ($rows as $row) : ?>
            <li onclick="ajax.doit('<?=$callback;?>',<?=(int)$row['ID'];?>)">
            <?= htmlspecialchars( "{$row['firstName']} {$row['lastName']} ({$row['email']})" ); ?>
				<div class="add_btn" onclick=""></div>
            </li>
			<? endforeach; ?>
		</ul>
	</panel>
<script type="text/javascript">
<![CDATA[
	$(document).ready( function() {
		adjustBorder();
	});

	$('input[type="text"]').keyup(function(e) {
		if (e.keyCode == 13 && this.getAttribute("name") != 'ownerSearch' && this.getAttribute("name") != 'userSearch') saveDepo();
    });

	var btnLock = false;
	var depoFinished = <?=($depoStatusID == 'F' ? 1 : 0);?>;

	function saveDepo() {
		setInputsClassOfValidators();
		if (!btnLock && validators.validate('depo', 'error', ' ')) {
			btnLock = true;
			clearInputsClass();
			ajax.doit('->save', ajax.getFormValues());
		}
	}

	function changeUser(el) {
		var ar = controls.query('#list_'+el.id+' ul li');
		for (var i=0; i<ar.length; i++) if (ar[i].innerHTML == el.value) {
			$(ar[i]).click();
			break;
		}
	}

	function deleteDepo(id, confirm) {
        if ( confirm ) {
            ajax.doit('->deleteDepo', id);
        } else {
            ajax.doit('->confirmDeleteDepo', id);
        }
    }

	function actionVol() {
		var cid = '<?=ID('volume');?>';
		action(cid);
	}

	function action(cid) {
		if (typeof cid == 'undefined') cid = '<?= ID('uKey'); ?>';
		validators.results = new Array();
		validators.results[cid] = false;
		setInputsClassOfValidators();
	}

	function unaction() {};

    function setInputsClassOfValidators() {
		for (cid in validators.results) {
			el = controls.$(cid);
			if (!(el)) continue;
			if (!validators.results[cid]) {
				controls.addClass(el,'error');
			}
		}
	}

	function clearInputsClass() {
		for(vid in validators.validators) {
			if (typeof validators.validators[vid] != 'object') continue;
			for(cid in validators.validators[vid].cids)
			{
				if (!(el = controls.$(validators.validators[vid].cids[cid]))) continue;
				if (el == 'undefined' || el == null ) continue;
				if (controls.hasClass(el, 'error'))
					controls.removeClass(el, 'error');
			}
		}
	}

	function validateOwnerID( ctrls, mode )
	{
		console.log( 'validateOwnerID:', ctrls, mode );
		var flag = false;
		var ctrl = controls.$( ctrls[0] );
		flag = (ctrl.value > 0);
		validators.results[ctrls[0]] = flag;
		console.log( 'validateOwnerID:', flag );
		return flag;
	}

	function adjustBorder() {
		var infoHeight = parseInt($('.deposition_info').css('height'));
		var ownerHeight = parseInt($('.deposition_owner').css('height'));
		if (infoHeight > ownerHeight){
			$('.deposition_owner').css('border-left','0px');
			$('.deposition_info').css('border-right','1px solid #e2e2e2');
		} else {
			$('.deposition_owner').css('border-left','1px solid #e2e2e2');
			$('.deposition_info').css('border-right','0px');
		}
	}
]]></script>
</panel>