<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<popup id="noticePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/notice.html"/>
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$url?>/cases">Case Management</a> / <?=$scrumName?></p>
		</div>
		<div class="option_block">
			<? if (!$isNew) { ?>
				<? if ($canDelete || $isAdmin) { ?>
			<a id="btnDelete" href="javascript:;" class="btn_red" onclick="deleteCase(<?=$caseID?>);">
				<span class="btn_red_r">Delete</span>
			</a>
				<? } ?>
			<? } ?>
			<a href="<?=$cancelURL?>" class="btn_gray m_r20 m_l65">
				<span class="btn_gray_r">Cancel</span>
			</a>
			<a href="javascript:;" class="btn_blue" onclick="save();">
				<span class="btn_blue_r">Save</span>
			</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="content">
		<div class="content_header">
			<h2><?=$scrumName?></h2>
		</div>
		<div class="content_block">

			<validatorrequired id="valFieldsRequired" groups="case" client="1" controls="name,number" tag="div" class="error2" text=""/>

			<div class="case_info_wrapper">
				<h3 class="p_l30">Case Information</h3>
				<div class="case_info">
					<div class="row">
						<label>Case Name*</label>
						<textbox id="name" class="w_220" maxlength="255" tabindex="1" autofocus="autofocus"/>
					</div>
					<div class="row">
						<label>Case or Matter Number*</label>
						<textbox id="number" class="w_220" maxlength="60" tabindex="2"/>
					</div>
				</div>
				<div class="case_manager">
					<div class="row">
						<label>Assign Case Managers * <a href="javascript:;" onclick="ajax.doit('->showManagers');">?</a></label>
						<div class="search_wrapper p_r0">
							<div class="search_input" style="width:611px;">
								<hidden id="userIDSearch" />
								<autofill id="userSearch" class="w_538" maxlength="255" callBack="->searchUsers" classContainer="autofill_search" x="-1" y="5" classList="autofill" onchange="changeUser(this)"/>
							</div>
						</div>
						<validatorcustom id="valCaseMgr" groups="case" serverFunction="->validateCaseMgr" client="0" controls="users" tag="div" class="error2" text="** Assigning a Case Manager is required **"></validatorcustom>
					</div>
					<div class="clear"></div>
					<widgetusersearch id="users"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content_control_wrapper content_control_bottom">
	<div class="content_control">
		<div class="option_block">
			<? if (!$isNew) { ?>
				<? if ($canDelete || $isAdmin) { ?>
			<a id="btnDelete" href="javascript:;" class="btn_red" onclick="deleteCase(<?=$caseID?>);">
				<span class="btn_red_r">Delete</span>
			</a>
				<? } ?>
			<? } ?>
			<a href="<?=$cancelURL?>" class="btn_gray m_r20 m_l65">
				<span class="btn_gray_r">Cancel</span>
			</a>
			<a href="javascript:;" class="btn_blue" onclick="save();">
				<span class="btn_blue_r">Save</span>
			</a>
		</div>
	</div>
</div>
<panel id="userAutofillTemplate" visible="0">
	<ul class="assign_users_autofill">
		<?
		foreach ($rows as $row) { ?>
		<li onclick="ajax.doit('->addUser',<?=(int)$row['ID'];?>)"><?= htmlspecialchars($row['firstName'].' '.$row['lastName'].' ('.$row['email'].')'); ?><div class="add_btn" onclick=""></div></li>
		<? } ?>
	</ul>
</panel>
<script type="text/javascript"><![CDATA[
	function changeUser(el) {
		//controls.get('<?=ID('userIDSearch')?>').value = '';
		var ar = controls.query('#list_'+el.id+' ul li');
		for (var i=0; i<ar.length; i++) if (ar[i].innerHTML == el.value) {
			$(ar[i]).click();
			break;
		}
	}
	btnLock = false;
	function save(){
		var flag = true;
		flag = validators.validate('case,countryUS,countryCA,countryOT', 'error', '');
		if (!btnLock && flag) {
			btnLock = true;
			ajax.doit('->save', ajax.getFormValues('<?=ID('mainform');?>'));
		}
	}
	function deleteCase(id, confirm) {
		if ( confirm ) {
			ajax.doit('->deleteCase', id);
		} else {
			ajax.doit('->confirmDeleteCase', id);
		}
	}

	$( document ).ready(function() {
		toggleCountry();
	});

]]></script>
</panel>



