<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<popup id="folderEditPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/folderEdit.html"/>
    <popup id="moveFilesPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/moveFiles.html"/>
    <popup id="uploadFilesPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/uploadFiles.html"/>
    <popup id="fileEditPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/fileEdit.html"/>
	<popup id="sendReporterNoticePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sendReporterNotice.html"/>
	<popup id="sendWitnessInvitePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sendWitnessInvite.html"/>
	<popup id="requestLiveTranscriptPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/requestLiveTranscript.html"/>
	<popup id="saveFilePopup" class="file_save_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/saveFile.html"/>
	<popup id="ConfirmFileOverwritePopup" class="file_overwrite_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirmFileOverwrite.html"/>
	<popup id="viewFilePopup" class="file_viewer_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewFile.html"/>
	<popup id="viewAudioPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewAudio.html"/>
	<popup id="viewVideoPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewVideo.html"/>
	<popup id="addPlaceholderPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/addPlaceholder.html"/>
	<popup id="exhibitLogPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/exhibitLog.html"/>
	<popup id="sortMenuPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sortMenu.html"/>
	<popup id="noticeSavePopup" class="notice_save_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/subtleNotice.html"/>

    <div class="main_wrapper">
        <div class="content_control_wrapper">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$basePath;?>/cases">Case Management</a> / <a href="<?=$basePath;?>/case/view?ID=<?=$caseID;?>"><?=$cname;?></a> / <?=$hname;?></p>
                </div>
                <div class="sessionView_option_block">
					<? if($isAdmin || $isManager || $isDemoAdmin || $isDepoOwner || $isDepoAssist): ?>
					<menubutton id="session_btn_menu" label="Session Options" class="menubtn sessionOptions"/>
					<? endif; ?>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="sessionView_content_block">
<!--					<div class="border_block">-->
					<div class="session_block">
						<div class="deposition_info_wrapper sessionView">
							<div class="deposition_info sessionView">
								<panel id="depoInfoPanel">
									<table class="view_details_table" style="float:left">
										<tr>
											<th width="225">Name</th>
											<?php if( in_array( $class, ['Deposition','Demo'] ) ): ?>
											<th width="60">Volume</th>
											<?php endif; ?>
											<th width="225">Case</th>
											<th width="165">Type</th>
											<th width="95">Date</th>
											<th width="90" style="padding-right:10px">Status</th>
										</tr>
										<tr>
											<? $statusMap = array('N' => 'Scheduled', 'I'=>'Active', 'F'=>'Completed');
											$typeMap = array('Deposition'=>'Deposition', 'Demo'=>'Demo Deposition', 'WitnessPrep'=>'Witness Prep', 'WPDemo'=>'Demo Witness Prep', 'Trial'=>'Trial', 'Demo Trial'=>'Demo Trial',
												'Trial Binder'=>'Trial Binder', 'Arbitration'=>'Arbitration', 'Mediation'=>'Mediation', 'Hearing'=>'Hearing'); ?>
											<td><div style="width:225px"><?=$depositionOf?></div></td>
											<?php if( in_array( $class, ['Deposition','Demo'] ) ): ?>
											<td><div style="width:60px"><?=$volume?></div></td>
											<?php endif; ?>
											<td><div style="width:225px"><?=$cname?></div></td>
											<td><div style="width:165px"><?=$typeMap[$class]?></div></td>
											<td><div style="width:95px"><?=date_format(date_create($openDateTime), 'm/d/Y')?></div></td>
											<td style="padding-right:10px"><div style="width:90px;"><?=$statusMap[$statusID]?></div></td>
										</tr>
									</table>
								</panel>
							</div>
						</div>
<!--						<div id="attendee_block">
							<div class="btn_bar">
								<div class="sessionView_table_header">Attendees (<?//=count($attendees)?>)</div>
							</div>
							<table id="attendee_list_header">
								<tr class="col_header">
									<th class="col1"><div class="checkAllDiv f_l"><a id="checkAllAttendees" class="custom_checkbox2 checkAll" onclick="checkAllAttendees();"></a></div></th>
									<th class="col2"><p>Name</p></th>
									<th class="col3"><p>Email</p></th>
									<th class="col4"><p>Type</p></th>
								</tr>
							</table>
							<div id="attendee_list_container">
								<table id="attendee_list">
									<? //$roleMap = ['M'=>'Member', 'G'=>'Guest', 'W'=>'Witness', 'TW'=>'Temporary Witenss', 'WM'=>'Witness Member'] ?>
									<? //foreach ($attendees as $idx => $attendee): ?>
									<tr id="attendee_<?//=$attendee['ID']?>" class="clickable" onclick="checkAttendee('<?//=$attendee['ID'];?>');">
										<td class="col1"><a id="a_checkBox_<?//=$attendee['ID']?>" class="custom_checkbox2"></a></td>
										<td class="col2"><div class="col2 to_e"><?//=$attendee['name']?></div></td>
										<td class="col3"><div class="col3 to_e"><?//=$attendee['email']?></div></td>
										<td class="col4"><?//=$roleMap[$attendee['role']]?></td>
									</tr>
									<? //endforeach; ?>
								</table>
							</div>
							<div id="attendeeListFooter" class="col_footer">
								<div id="selectedAttendeesCount" class="selectedCount">Selected (0)</div>
								<div id="attendeeOptionBtns" class="option_btns">
									<div id="sendTranscriptsBtn"><span class="active" onclick="sendEmails('transcript');">Send Transcripts</span></div>
									<div id="sendExhibitsBtn"><span class="active" onclick="sendEmails('exhibit');">Send Exhibits</span></div>
									<div id="sendTranscriptsandExhibitsBtn"><span class="active" onclick="sendEmails('all');">Send Transcripts and Exhibits</span></div>
								</div>
							</div>
						</div>
					</div>-->
<!--						<div class="spacer"></div>-->
<!--					<div class="border_block m_t20">-->
						<div id="file_mgmt">
							<div class="folders_block file_mgmt_block">
								<div class="btn_bar">
									<div class="sessionView_table_header" id="folders_legend"><img src="/Application/_includes/backend/asset/images/f1.png"/>Folders (0)</div>
								</div>
								<div class="col_header sort_header">
									<panel id="folderSortPanel">
										<div id="folderSortBy" class="sortBy f_l" onclick="showSortMenu('Folders')"><?=$folderSortBy?></div>
										<div id="folderSortOrder" class="sortOrder f_l <?=$folderSortOrder ? $folderSortOrder : '';?>" onclick="changeSortOrder('Folders')"></div>
										<div class="clear"></div>
									</panel>
									<a id="finishFoldersSortEditBtn" class="file_mgmt_btn done_btn active" href="javascript:;" onclick="finishCustomSortEdit('Folders', 1)">
										<span>Done</span>
									</a>
								</div>
								<div class="file_mgmt_table">
									<panel id="folder_panel">
										<table id="fileMgmtFolderList" class="folder_list innerTable">
												<? if ($folderList): ?>
												<? foreach ($folderList as $idx => $folderInfo): ?>
												<tr id="folder_<?=$folderInfo['ID']?>" class="clickable sortable" onclick="selectFolder(<?=$folderInfo['ID'];?>)" draggable="true" data-id="<?=$folderInfo['ID']?>">
													<td class="dragBox"><div class="handle"></div></td>
													<td class="col1"><div class="to_e"><?=$folderInfo['name'];?></div></td>
													<td class="col2" >&nbsp;</td>
												</tr>
												<? endforeach; ?>
												<? endif; ?>
										</table>
									</panel>
								</div>
								<div id="folderListFooter" class="col_footer">
									<div class="option_btns">
										<div id="downloadFolderBtn"><span onclick="downloadFolder();">Download</span></div>
									</div>
								</div>
							</div>
							<div class="files_block file_mgmt_block">
								<div class="btn_bar">
									<div class="sessionView_table_header" id="documents_legend"><img src="/Application/_includes/backend/asset/images/f2.png"/>Documents (0)</div>
									<div class="file_mgmt_buttons">
										<a id="addDocsBtn" class="file_mgmt_btn long" href="javascript:;">
											<span>Add Documents</span>
										</a>
									</div>
								</div>
								<div class="col_header sort_header">
									<div class="checkAllDiv f_l"><a id="checkAllFiles" class="custom_checkbox2 checkAll" onclick="checkAllFiles();"></a></div>
									<panel id="fileSortPanel">
										<div id="fileSortBy" class="sortBy f_l" onclick="showSortMenu('Files')"><?=$fileSortBy?></div>
										<div id="fileSortOrder" class="sortOrder f_l <?=$fileSortOrder ? $fileSortOrder : '';?>" onclick="changeSortOrder('Files')"></div>
										<div class="clear"></div>
									</panel>
									<div class="doc_search_container">
										<div class="search_icon" onclick="startSearch()"></div>
										<div class="search_bar_container">
											<textbox id="searchDocs" style="width:200px;"/>
											<a id="hideSearchBarBtn" class="file_mgmt_btn done_btn active" href="javascript:;" onclick="stopSearch()">
												<span>Done</span>
											</a>
										</div>
									</div>
									<a id="finishFilesSortEditBtn" class="file_mgmt_btn done_btn active" href="javascript:;" onclick="finishCustomSortEdit('Files', 1)">
										<span>Done</span>
									</a>
								</div>
								<div class="file_mgmt_table">
									<panel id="file_panel">
										<table id="fileMgmtFileList" class="file_list innerTable">
											<? if ($fileList): ?>
											<? foreach ($fileList as $idx => $fileInfo): ?>
											<tr id="file_<?=$fileInfo['ID']?>" class="clickable sortable" onclick="checkFile('<?=$fileInfo['ID'];?>');" draggable="true" data-id="<?=$fileInfo['ID']?>">
												<td class="col1">
													<a id="checkBox_<?=$fileInfo['ID']?>" class="custom_checkbox2"></a>
													<div class="handle"></div>
												</td>
												<td class="col2"><div class="to_e col2"><?=$fileInfo['name'];?></div></td>
												<td class="col3"><div class="f_r m_r30"><?=$fileInfo['size'];?></div></td>
												<? if ($fileInfo['canRename']): ?>
												<td class="col4A view active" onclick="viewFile(<?=$fileInfo['ID'];?>);"><div class="col4">View</div></td>
												<td class="rename active" onclick="editFile(<?=$fileInfo['ID'];?>);">Rename</td>
												<? else: ?>
												<td class="col4B">&nbsp;</td>
												<td class="view active" onclick="viewFile(<?=$fileInfo['ID'];?>);"><div class="col4">View</div></td>
												<? endif; ?>
											</tr>
											<? endforeach; ?>
											<? endif; ?>
										</table>
									</panel>
								</div>
								<div id="fileListFooter" class="col_footer">
									<div id="seledtedFilesCount" class="selectedCount">Selected (0)</div>
									<panel id="fileOptionBtns" class="option_btns">
										<div id="downloadFileBtn"><span class="active" onclick="getSelectedFiles(downloadSelectedFiles);">Download</span></div>
										<div id="deleteFileBtn"><span class="fc_light_red" onclick="getSelectedFiles(deleteSelectedFiles);">Delete</span></div>
									</panel>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>
    </div>
<script type="text/javascript">
<![CDATA[
	$(document).ready( function() {
		var firstFolderID = $('#fileMgmtFolderList tr:first').attr('data-id');
		if (firstFolderID) {
			selectFolder(parseInt(firstFolderID));
		} else {
			fillFileList();
		}
		updateFolderCount();
		fillFolderList();
//		fillAttendeeList();
	});

	$( window ).resize(function() {
		if (sortMenuVisible) {
			positionSortMenu();
		}
	});

	var selectedFolderID;
//	var minAttendeeListLength = 6;
	var minListLength = 18;
	var uploadFileIDs = null;
	var uploadAction = null;
	var uploadOpts = {folderID : null, copy : null};
	var uploadFileIndex = 0;
	var concurrentUploads = 0;
	var concurrentUploadMax = 1;
	var checkBoxSubStr = 9;
	var aCheckBoxSubStr = 11;
	var selectedFilesCount = 0;
//	var selectedAttendeesCount = 0;
	var sortMenuVisible = false;
	var sortMenuTarget = null;
	var sortList = '';
	var customSortList = null;
	var customSortingList = null;
	var downloadFolderBtn = $('#downloadFolderBtn span');
	var downloadFileBtn = $('#downloadFileBtn span');
	var deleteFileBtn = $('#deleteFileBtn span');
	var addDocsBtn = $('#addDocsBtn');
	var fileRows = [];
	var fileRowsToShow = [];
	var newSearchText = '';
	var oldSearchText = '';
	var filterFunction;
	var searching = false;

	function selectFolder(id) {
		if (customSortingList) {
			return;
		}

		selectedFolderID = id ? id : $('#fileMgmtFolderList tr:first').attr('data-id');
		ajax.doitSync('->selectFolder', selectedFolderID);
		$('#fileMgmtFolderList tr').removeClass( 'selected' );
		$('#folder_' + selectedFolderID).addClass( 'selected' );
		$('#checkAllFiles').removeClass( 'checked' );
		if (searching) {
			indexFileRows();
			filterDocs();
		}
	}

	function highlightFolder() {
		$('#folder_' + selectedFolderID).addClass( 'selected' );
	}

	function updateFileMgmtActions(canDownloadFolder, canDownloadFiles, canDeleteFiles, canAddDocs) {
		if (canDownloadFolder) {
			if (!downloadFolderBtn.hasClass('active')) {
				downloadFolderBtn.addClass('active');
				downloadFolderBtn.click( function(){ downloadFolder(); } );
			}
		} else {
			downloadFolderBtn.removeClass('active');
			downloadFolderBtn.prop('onclick',null).off('click');
		}
		if (canDownloadFiles) {
			if (!downloadFileBtn.hasClass('active')) {
				downloadFileBtn.addClass('active');
				downloadFileBtn.click( function(){ getSelectedFiles(downloadSelectedFiles); } );
			}
		} else {
			downloadFileBtn.removeClass('active');
			downloadFileBtn.prop('onclick',null).off('click');
		}
		if (canDeleteFiles) {
			if (!deleteFileBtn.hasClass('active')) {
				deleteFileBtn.addClass('active');
				deleteFileBtn.click( function(){ getSelectedFiles(deleteSelectedFiles); } );
			}
		} else {
			deleteFileBtn.removeClass('active');
			deleteFileBtn.prop('onclick',null).off('click');
		}
		if (canAddDocs) {
			if (!addDocsBtn.hasClass('active')) {
				addDocsBtn.addClass('active');
				addDocsBtn.click( function(){ showUploadFiles(); } );
			}
		} else {
			addDocsBtn.removeClass('active');
			addDocsBtn.prop('onclick',null).off('click');
		}
	}

	function updateFolderCount() {
		var listLength = $('#fileMgmtFolderList tr').length;
		$('#folders_legend').text( 'Folders (' + listLength + ')' );
		$('#folders_legend').prepend('<img src="/Application/_includes/backend/asset/images/f1.png">');
	}

	function fillFolderList() {
		var listLength = $('#fileMgmtFolderList tr').length;
		if (listLength < minListLength) {
			var folderList = $('#fileMgmtFolderList');
			for ( var i = (minListLength - listLength); i > 0; --i ) {
				folderList.append( '<tr><td></td><td class="col1">&nbsp</td><td class="col2">&nbsp</td></tr>' );
			}
		}
	}

	function updateFileCount() {
		var listLength = $('#fileMgmtFileList tr').length;
		$('#documents_legend').text( 'Documents (' + listLength + ')' );
		$('#documents_legend').prepend('<img src="/Application/_includes/backend/asset/images/f2.png">');
	}

	function fillFileList() {
		var listLength = $('#fileMgmtFileList tr').length;
		if (listLength < minListLength) {
			var fileList = $('#fileMgmtFileList');
			for ( var i = (minListLength - listLength); i > 0; --i ) {
				fileList.append( '<tr><td class="col1">&nbsp</td><td class="col2">&nbsp</td><td class="col3">&nbsp</td><td class="col4">&nbsp</td><td>&nbsp</td></tr>' );
			}
		}
	}

	function checkFile( id ) {
		var checkBox = $('#checkBox_' + id);
		if (checkBox.hasClass( 'checked' ) ) {
			checkBox.removeClass( 'checked' );
			$('#seledtedFilesCount').text('Selected (' + --selectedFilesCount + ')');
			if (selectedFilesCount < $('#fileMgmtFileList tr.clickable').length) {
				$('#checkAllFiles').removeClass( 'checked' );
			}
		} else {
			checkBox.addClass( 'checked' );
			$('#seledtedFilesCount').text('Selected (' + ++selectedFilesCount + ')');
			if (selectedFilesCount == $('#fileMgmtFileList tr.clickable').length) {
				$('#checkAllFiles').addClass( 'checked' );
			}
		}
	}

	function checkAllFiles() {
		var filesCount = $('#fileMgmtFileList tr.clickable').length;

		if ($('#checkAllFiles').hasClass( 'checked' )) {
			$('.files_block .custom_checkbox2').each(function() {
				$(this).removeClass( 'checked' );
			});
			updateSelectedFilesCount(0);
		} else {
			$('.files_block .custom_checkbox2').each(function() {
				$(this).addClass( 'checked' );
			});
			updateSelectedFilesCount(filesCount);
		}
	}

	function downloadFolder() {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		ajax.doit('->downloadFolder', selectedFolderID);
	}

	function viewFile(id) {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		if (customSortingList) {
			return;
		}

		window.top.sourceFileID = id;
		ajax.doit('->viewFile', id);
	}

	function editFile(id) {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		if (customSortingList) {
			return;
		}

		console.log(arguments);
		ajax.doitSync('->showEditFile', id);
		controls.display('<?=ID('fileEditPopup.valFileUniq')?>','none');
	}

	function saveFile(id) {
		if (validators.validate('file', 'error', '')) {
			ajax.doit('->saveFile', id);
		}
	}

	function downloadFile(id) {
		ajax.doit('->downloadFile', id);
	}

	function deleteFile(id, confirm) {
		if ( confirm ) {
			ajax.doit('->deleteFile', id);
		} else {
			ajax.doit('->confirmDeleteFile', id);
		}
	}

	function downloadSelectedFiles(ids) {
		if (ids.length > 1) {
			ajax.doit('->downloadSelectedFiles', ids);
		} else {
			ajax.doit('->downloadFile', ids[0]);
		}
	}

	function showUploadFiles() {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		ajax.doit('->showUploadFiles', selectedFolderID);
	}

	function closePopup(id) {
		ajax.doit( '->closePopup', id );
	}

	function unaction(){}

	function actionFolder(){
		var cid = '<?=ID('folderEditPopup.folderName');?>';
		action(cid);
	}

	function actionFile(){
		var cid = '<?=ID('fileEditPopup.fileName');?>';
		action(cid);
	}

	function action(cid){
		if (typeof cid == 'undefined') cid = '<?= ID('step3.email'); ?>';
		validators.results = new Array();
		validators.results[cid] = false;
		setInputsClassOfValidators();
	}

	function setInputsClassOfValidators(){
		for (cid in validators.results){
			el = controls.$(cid);
			if (!(el)) continue;
			if (!validators.results[cid]) {
				controls.addClass(el,'error');
			}
		}
	}

	function updateSelectedFilesCount(count) {
		selectedFilesCount = count;
		$('#seledtedFilesCount').text('Selected (' + selectedFilesCount + ')');
	}

	function getSelectedFiles( functionCall ) {
		var fileIds = new Array();
		$('#fileMgmtFileList .custom_checkbox2.checked').each(function() {
			fileIds.push($(this).attr('id').substring(checkBoxSubStr));
		});

		if (fileIds.length > 0) {
			functionCall( ''+fileIds.join(',') );
		} else {
			ajax.doit('->showNoFilesSelectedNotice');
		}
	}

	function deleteSelectedFiles(ids) {
		deleteFile(ids);
	}

	function showSortMenu(list) {
		var folderSortBy = $('#folderSortBy');
		var fileSortBy = $('#fileSortBy');
		var sortBy;
		sortList = list;
		sortMenuVisible = true;

		if (list == 'Folders') {
			sortMenuTarget = folderSortBy[0];
			sortBy = folderSortBy.text();
		} else {
			sortMenuTarget = fileSortBy[0];
			sortBy = fileSortBy.text();
		}
		$('#sortMenu li').each(function() {
			if ($(this).children("span").text() == sortBy) {
				$(this).children(":first").addClass('selected');
			} else {
				$(this).children(":first").removeClass('selected');
			}
		});

		$('#sortContents').parent().toggle();
		positionSortMenu();
	}

	function positionSortMenu() {
		var sortMenu = $('#sortMenu ul');
		var sortMarker = $('.sortMarker');
		var tRect = sortMenuTarget.getBoundingClientRect();
		var mHeight = sortMenu.outerHeight();
		var mmHeight = sortMarker.height();
		var scrollTop = $(window).scrollTop();
		var sortMenuTop = Math.round( tRect.top + (tRect.height /2) - (mHeight / 2) + scrollTop);
		var sortMenuLeft = Math.round( tRect.left + tRect.width + 20);
		var sortMarkerTop = Math.round( tRect.top+ (tRect.height /2) - (mmHeight / 2) + scrollTop);
		var sortMarkerLeft = Math.round( tRect.left + tRect.width) - 1;

		sortMenu.offset( {top: sortMenuTop, left: sortMenuLeft } );
		sortMarker.offset( {top: sortMarkerTop, left: sortMarkerLeft } );
	}

	function clearSortMenuValues() {
		sortMenuVisible = false;
		sortMenuTarget = null;
	}

	// if not using shadow popup for sortMenu, make this mouseup close sortMenu
//	$(document).mouseup( function(e){
//		var menuBtnID = $(e.target).parent().parent().parent().attr('id');
//		var container = $(menuBtnID);
//		if( !container.is(e.target) && container.has(e.target).length === 0) menubutton.hide();
//	} );

	function changeSortBy(sortBy) {
		var sortOrder = '';

		if (customSortingList == sortList) {
			finishCustomSortEdit(customSortingList, 1);
		}

		if (sortList == 'Folders') {
			if (sortBy == $('#folderSortBy').text() ) {
				return;
			}
			$('#folderSortBy').text(sortBy);

			if (sortBy == 'Custom') {
				sortOrder = 'Asc';
			} else {
				if ( $('#folderSortOrder').hasClass('Desc') ) {
					sortOrder = 'Desc';
				} else {
					sortOrder = 'Asc';
				}
			}
		} else if (sortList == 'Files') {
			if (sortBy == $('#fileSortBy').text() ) {
				return;
			}
			$('#fileSortBy').text(sortBy);

			if (sortBy == 'Custom') {
				sortOrder = 'Asc';
			} else {
				if ( $('#fileSortOrder').hasClass('Desc') ) {
					sortOrder = 'Desc';
				} else {
					sortOrder = 'Asc';
				}
			}
		}

		ajax.doitSync('->changeSort', sortList, sortBy, sortOrder, selectedFolderID);
		updateSortHeader(sortList, sortBy, sortOrder);
	}

	function changeSortOrder(list) {
		var sortOrder = '';
		var sortBy = '';

		if (list == 'Folders') {
			sortBy = $('#folderSortBy').text();

			if ( $('#folderSortOrder').hasClass('Asc') ) {
				sortOrder = 'Desc';
			} else {
				sortOrder = 'Asc';
			}
		} else if (list == 'Files') {
			sortBy = $('#fileSortBy').text();

			if ( $('#fileSortOrder').hasClass('Asc') ) {
				sortOrder = 'Desc';
			} else {
				sortOrder = 'Asc';
			}
		}

		ajax.doitSync('->changeSort', list, sortBy, sortOrder, selectedFolderID);
		updateSortHeader(list, sortBy, sortOrder);
	}

	function startCustomSortEdit() {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		var toggleActions = true;
		if (customSortingList == sortList) {
			return;
		} else if (customSortingList != null && customSortingList != sortList) {
			toggleActions = false;
			finishCustomSortEdit(customSortingList, toggleActions);
		}

		customSortingList = sortList;

		if (sortList == 'Folders') {
			if ( $('#folderSortBy').text() != 'Custom' ) {
				ajax.doitSync('->changeSort', sortList, 'Custom', 'Asc', selectedFolderID);
				updateSortHeader(sortList, 'Custom', 'Asc');
			}
			customSortList = $('#fileMgmtFolderList tbody');

			$('.folders_block').addClass('custom_edit');
			$('.files_block').removeClass('custom_edit');
		} else if (sortList == 'Files') {
			if (searching) {
				stopSearch();
			}
			if ( $('#fileSortBy').text() != 'Custom' ) {
				ajax.doitSync('->changeSort', sortList, 'Custom', 'Asc', selectedFolderID);
				updateSortHeader(sortList, 'Custom', 'Asc');
			}
			customSortList = $('#fileMgmtFileList tbody');

			$('.files_block').addClass('custom_edit');
			$('.folders_block').removeClass('custom_edit');
		}

		var options = {
			items: '.sortable',
			containment: 'parent',
			helper: 'clone',
			tolerance: 'pointer',
			start: function( event, ui ) { ui.helper.first().css('background-color', 'lightblue'); },
			placeholder: {
				element: function(currentItem) {
					return $('<div style="width:0px; height:22px;"></div>')[0];
				},
				update: function(container, p) {
					return;
				}
			}
		};

		customSortList.sortable( options );
		if (toggleActions) {
			toggleFileMgmtActions(1);
		}
	}

	function finishCustomSortEdit(list, toggleActions) {
		customSortingList = null;

		if( customSortList === null ) {
			return;
		}

		if (list == 'Folders') {
			$('.folders_block').removeClass('custom_edit');
		} else if (list == 'Files') {
			$('.files_block').removeClass('custom_edit');
		} else if (list == 'All') {
			$('.folders_block').removeClass('custom_edit');
			$('.files_block').removeClass('custom_edit');
		}

		if( customSortList.hasClass( 'ui-sortable' ) ) {
			saveCustomSort(list);
			customSortList.sortable( 'destroy' );
		}

		customSortList = null;

		if (toggleActions) {
			toggleFileMgmtActions(0);
		}
	}

	function saveCustomSort(list) {
		var sortPositions = customSortList.sortable( 'toArray', {"attribute":"data-id"} );

		ajax.doit('->setCustomSort', list, sortPositions);
	}

	function updateSortHeader(list, sortBy, sortOrder) {
		var sortByDiv;
		var sortOrderDiv;

		if (list == 'Folders') {
			sortByDiv = $('#folderSortBy');
			sortOrderDiv = $('#folderSortOrder');
		} else if (list == 'Files') {
			sortByDiv = $('#fileSortBy');
			sortOrderDiv = $('#fileSortOrder');
		}

		sortByDiv.text(sortBy);
		if (sortBy == 'Custom') {
			sortOrderDiv.removeClass('Asc');
			sortOrderDiv.removeClass('Desc');
		} else {
			remove = (sortOrder == 'Desc') ? 'Asc' : 'Desc';

			sortOrderDiv.addClass(sortOrder);
			sortOrderDiv.removeClass(remove);
		}
	}

	function toggleFileMgmtActions(disableBtns) {
		if (disableBtns) {
			$('.rename').removeClass('active');
			updateFileMgmtActions(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
		} else {
			$('.rename').addClass('active');
			var numFiles = $('#fileMgmtFileList tr.clickable').length;
			ajax.doit('->updateFileMgmtActions', selectedFolderID, numFiles);
		}
	}

//	function fillAttendeeList() {
//		var listLength = $('#attendee_list tr').length;
//		if (listLength < minAttendeeListLength) {
//			var attendeeList = $('#attendee_list');
//			for ( var i = (minAttendeeListLength - listLength); i > 0; --i ) {
//				attendeeList.append( '<tr><td class="col1">&nbsp</td><td class="col2">&nbsp</td><td class="col3">&nbsp</td><td class="col4">&nbsp</td></tr>' );
//			}
//		}
//	}
//
//	function checkAttendee(id) {
//		var checkBox = $('#a_checkBox_' + id);
//		if (checkBox.hasClass( 'checked' ) ) {
//			checkBox.removeClass( 'checked' );
//			$('#selectedAttendeesCount').text('Selected (' + --selectedAttendeesCount + ')');
//			if (selectedAttendeesCount < $('#attendee_list tr.clickable').length) {
//				$('#checkAllAttendees').removeClass( 'checked' );
//			}
//		} else {
//			checkBox.addClass( 'checked' );
//			$('#selectedAttendeesCount').text('Selected (' + ++selectedAttendeesCount + ')');
//			if (selectedAttendeesCount == $('#attendee_list tr.clickable').length) {
//				$('#checkAllAttendees').addClass( 'checked' );
//			}
//		}
//	}
//
//	function checkAllAttendees() {
//		var attendeesCount = $('#attendee_list tr.clickable').length;
//
//		if ($('#checkAllAttendees').hasClass( 'checked' )) {
//			$('#attendee_block .custom_checkbox2').each(function() {
//				$(this).removeClass( 'checked' );
//			});
//			updateSelectedAttendeesCount(0);
//		} else {
//			$('#attendee_block .custom_checkbox2').each(function() {
//				$(this).addClass( 'checked' );
//			});
//			updateSelectedAttendeesCount(attendeesCount);
//		}
//	}
//
//	function updateSelectedAttendeesCount(count) {
//		selectedAttendeesCount = count;
//		$('#selectedAttendeesCount').text('Selected (' + selectedAttendeesCount + ')');
//	}
//
//	function sendEmails(type) {
//		var ids = getSelectedAttendees();
//		if (ids.length > 0) {
//			ajax.doit('->sendEmails', type, ids);
//		} else {
//			ajax.doit('->showNoAttendeesSelectedNotice');
//		}
//	}
//
//	function getSelectedAttendees() {
//		var attendeeIds = new Array();
//		$('#attendee_list .custom_checkbox2.checked').each(function() {
//			attendeeIds.push($(this).attr('id').substring(aCheckBoxSubStr));
//		});
//
//		return attendeeIds;
//	}

	function startSearch() {
		$('.doc_search_container').addClass('active');
		indexFileRows();
		$('.doc_search_container input').focus();
		searching = true;
	}

	function stopSearch() {
		$('.doc_search_container').removeClass('active');
		$('#fileMgmtFileList tr').remove();
		for (var i in fileRows) {
			$('#fileMgmtFileList').append(fileRows[i]);
		}
		fillFileList();
		$('.doc_search_container input').val('');
		fileRows = [];
		fileRowsToShow = [];
		newSearchText = '';
		oldSearchText = '';
		filterFunction = null;
		searching = false;
	}

	function indexFileRows() {
		fileRows = [];
		$('#fileMgmtFileList tr.clickable').each(function() {
			fileRows.push($(this)[0]);
		});
	}

	function showReporterNotice() {
		var depoID = <?=$ID?>;
		ajax.doitSync('->showReporterNotice', depoID);
		controls.focus('<?=ID('sendReporterNoticePopup.reporterEmail')?>');
	}

	function sendReporterNotice( depositionID ) {
		ajax.doit( '->sendReporterNotice', depositionID );
	}

	$('.doc_search_container input').on('input', function() {
		clearTimeout(filterFunction);
		newSearchText = $(this).val();
		filterFunction = setTimeout(function() {
			if (newSearchText === oldSearchText) {
				return;
			} else {
				oldSearchText = newSearchText;
				filterDocs();
			}
		}, 500);
	});

	function filterDocs() {
		var fileName;
		for (var rowIndex in fileRows) {
			fileName = fileRows[rowIndex].children[1].children[0].innerHTML;
			if (fileName.toLowerCase().indexOf(oldSearchText.toLowerCase()) >= 0) {
				fileRowsToShow.push(rowIndex);
			}
		}
		redrawFileList();
	}

	function redrawFileList() {
		$('#fileMgmtFileList tr').remove();
		for (var i in fileRowsToShow) {
			$('#fileMgmtFileList').append(fileRows[fileRowsToShow[i]]);
		}
		fillFileList();
		fileRowsToShow = [];
	}
]]></script>
</panel>