<?=$test;?>
<div class="mx-table-info">
   <h4><?=htmlspecialchars($caseName);?></h4>
   <div class="left"><b>Case ID:</b> <?=$caseID;?></div>
   <div class="right">
      <b><?=$count;?></b> Depositions
   </div>
</div>
<div class="clear"></div>
<table class="tbl_info reports m_t10 no-border">
   <tr>
      <th width="15"></th>
      <th width="100">Deposition ID</th>
      <th>Deposition Details</th>
      <th width="120">Date Created</th>
      <th width="120">Setup Fee</th>
      <th width="120">Hosting Fee</th>
      <th width="120" class=""># of Documents</th>
   </tr>
   <? foreach ((array)$rows as $row): ?>
   <tr>
      <td></td>
      <td><?=htmlspecialchars($row['uKey']);?></td>
      <td>Deposition of <?=htmlspecialchars($row['depositionOf']);?></td>
      <td><?=$row['Date'];?></td>
      <td><?=sprintf('$%.2f',$row['SetupFee']);?></td>
      <td><?=sprintf('$%.2f',$row['HostingFee']);?></td>
      <td><?=(int)$row['CountDocuments'];?></td>
   </tr>
   <? endforeach; ?>
</table>
<div class="table-total-box"><span>Total</span><b>$</b><?=sprintf('%.2f',$total);?></div>