<div class="myaccount_body">
	<?php if( !$isEnterprise ): ?>
	<div class="client_settings" style="padding:10x 0 20px 0;">
		<h3 style="color:#000; padding:10px 0 10px 0;">Reseller Settings</h3>
		<div class="f_l">
			<h5>Live Transcripts Email</h5>
			<textbox id="liveTranscriptsEmail" class="w_220" maxlength="255" />
		</div>
		<div class="clear"></div>
	</div>
	<?php endif; ?>
	<div class="branding_content" style="padding:10x 0 20px 0;">
		<h3 style="color:#000; padding:20px 0 0px 0;">Branding Info</h3>
		<h5>Website Look &amp; Feel</h5>
		<div id="bannerDemo" class="webview_demo" style="background-color: <?=$rcolor;?>;">
			<image id="logoImage" width="344px" height="114px"/>
			<colorpicker id="bannerColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" style="width:170px;margin-right:50px;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerColor')?>'),document.getElementById('bannerDemo'));" class="btn_blue">
				<span class="btn_blue_r">Change banner color</span>
			</a>
		   <colorpicker id="bannerTextColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" style="width:170px;margin-right:20px;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerTextColor')?>'),null,chooseTextColor);" class="btn_blue">
				<span class="btn_blue_r">Change text color</span>
			</a>
		   <div id="textDemo" class="text" style="color: <?=$textcolor;?>">Text Sample</div>
		</div>

		<h5><?=($isEnterprise ? 'Enterprise' : 'Reseller');?> Logo</h5>
		<hidden id="img_name" />
		<uploadbutton id="btnUploadLogo" classContainer="btn_blue" tag="a" onclick="closeColorPicker();"><span class="btn_blue_r">Browse</span></uploadbutton>
		<div class="row p_t110 p_l0">
			<a href="javascript:;" onclick="reset();" class="btn_gray m_r20">
			   <span class="btn_gray_r">Cancel</span>
			</a>
			<a href="javascript:;" onclick="save();" class="btn_blue">
			   <span class="btn_blue_r">Save</span>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript"><![CDATA[
function save() {
	ajax.doit('->save');
}

function reset() {
	ajax.doit('->resetMyAccount');
}

function chooseTextColor(value) {
	controls.$('textDemo').style.color = value;
}
]]></script>