<popup id="datasourcePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/datasource.html"/>
<div class="myaccount_body" style="padding-left: 0;">
	<div class="" style="/*margin-top:10px;border-top:1px solid #efefef;border-bottom:1px solid #efefef;background-color:#fcfcfc;*/">
		<div class="p_l10" style="display:inline-block;width:140px;float:right;margin-right:10px;">
			<a href="javascript:;" class="btn_blue option_btn" onclick="showAddDatasource();">
				<span class="btn_blue_r">Add New Datasource</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<widgetdatasources id="datasourceList" />
</div>
<script type="text/javascript">
<![CDATA[
	function showAddDatasource()
	{
		ajax.doitSync( '->showAddDatasource' );
	}

	function addDatasource()
	{
		ajax.doit( '->addDatasource', ajax.getFormValues() );
	}

	function showEditDatasource( id ) {
		ajax.doitSync( '->showEditDatasource', id );
	}

	function updateDatasource()
	{
		ajax.doit( '->updateDatasource', ajax.getFormValues() );
	}

	function deleteDatasource( id, confirm )
	{
		if( confirm ) {
			ajax.doit( '->deleteDatasource', id );
		} else {
			ajax.doit( '->confirmDeleteDatasource', id );
		}
	}
]]>
</script>