<panel id="mainform" class="content_top_reseller" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
		<imgeditor id="imgEditor" forceExtension="png" messageID="msg" class="imgeditor_main" style="display:none;" />
   		<div class="main">
            <div class="content">
                <div class="content_header">
                    <h2><img src="/Application/_includes/backend/asset/images/MA-Blue.png"/> My Account</h2>
                </div>
                <div class="myaccount_info">
                	<div class="head_part">
                        <ul class="myaccount_option">
                        	<? foreach((array)$matabs as $k=>$_tab): ?>
				            <li><a href="<?=$basePath.$_tab[1];?>" class="<?=($mtab==$k)?'active':'';?>"><?=$_tab[0];?></a></li>
				            <? endforeach; ?>
                        </ul>
                    </div>
                    <? if ($mtab == 1):?>
                    	<panel id="accountPnl" class="main_wrapper"/>
                    <? elseif ($mtab == 2): ?>
                    	<panel id="pricingPnl" class="main_wrapper"/>
                    <? elseif ($mtab == 3):?>
                    	<panel id="brandingPnl" class="main_wrapper"/>
                    <? elseif ($mtab == 4):?>
                    	<panel id="datasourcePnl" class="main_wrapper"/>
					<? elseif ($mtab == 5):?>
                    	<panel id="rPricingPnl" class="main_wrapper"/>
					<? elseif ($mtab == 6):?>
                    	<panel id="rFeesPnl" class="main_wrapper"/>
                    <? endif;?>
                </div>
                <div class="clear"></div>
            </div>
        </div>
</panel>
