<div class="myaccount_body content_block p_l0">

  <validatorrequired id="valFields" groups="reg" controls="firstName,lastName,email,oldPassword" client="1" />
<?php if( !$isAdmin ): ?>
  <validatorrequired id="valFieldsAddress" groups="address" controls="countryCode,address1,city" client="1" />
  <validatorrequired id="valFieldsUS" groups="countryUS" controls="state,ZIP" client="1" />
  <validatorrequired id="valFieldsCA" groups="countryCA" controls="province,postCode" client="1" class="error2" />
  <validatorrequired id="valFieldsOT" groups="countryOT" controls="region,postCode" client="1" class="error2" />
<?php endif; ?>

  <div class="row w_229">
    <label>First Name*</label>
    <textbox id="firstName" class="w_218" maxlength="200" autofocus="autofocus"/>
    <div class="clear"></div>
  </div>
  <div class="row w_229">
    <label>Last Name*</label>
    <textbox id="lastName" class="w_218" maxlength="200"/>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
<?php if( !$isAdmin && !$isCourtClient ): ?>
  <div class="row ">
    <label>Please specify the country, city and state where your office is located.</label>
  </div>
  <div class="clear"></div>

  <div class="row">
    <label>Country*</label>
    <dropdownbox id="countryCode" class="w_229 countryToggler" onchange="toggleCountry()" options="php::\ClickBlocks\MVC\Edepo::getCountries(false)"/>
  </div>
  <div class="clear"></div>

  <div class="row">
    <label>Address*</label>
    <textbox id="address1" class="w_220"/>
  </div>
  <div class="row ">
    <label>&nbsp; </label>
    <textbox id="address2" class="w_220"/>
  </div>
  <div class="clear"></div>

  <div class="row w_229">
    <label>City*</label>
    <textbox id="city" class="w_218" maxlength="200"/>
    <div class="clear"></div>
  </div>

  <div class="row usaAddress">
    <label>State*</label>
    <dropdownbox id="state" defaultValue="" options="php::\ClickBlocks\MVC\Edepo::getUSAStates()"/>
  </div>
  <div class="row canadaAddress">
    <label>Province*</label>
    <dropdownbox id="province" style="width:75px;" options="php::\ClickBlocks\MVC\Edepo::getCanadianProvinces()"/>
  </div>
  <div class="row otherAddress">
    <label>Region*</label>
    <textbox id="region" class="w_125"/>
  </div>
  <div class="row p_l20 usaAddress">
    <label>ZIP*</label>
    <textbox id="ZIP" class="w_125" onkeyup="this.value = this.value.replace(/[^\d]/g, '');" maxlength="10"/>
  </div>
  <div class="row p_l20 otherAddress canadaAddress">
    <label>Postal Code*</label>
    <textbox id="postCode" class="w_125" maxlength="10"/>
  </div>
  <div class="clear"></div>

<?php endif; ?>

  <div class="row">
    <label>Email*</label>
    <textbox id="email" class="w_487" maxlength="200"/>
    <validatoremail id="valEmail" controls="email" client="1" text="Email format is incorrect." class="error2" groups="reg"/>
    <div class="clear"></div>
  </div>

  <div class="row">
    <label>Username</label>
    <textbox id="username" class="w_487" maxlength="200" disabled="disabled"/>
  </div>
  <div class="clear"></div>

  <div class="row">
    <label>Old Password*</label>
    <textbox id="oldPassword" maxlength="100" type="password" class="w_487"/>
    <validatorcustom id="valOldPassword" controls="oldPassword" class="error2" client="0" serverFunction="->checkOldPassword" text="** Incorrect password **" groups="reg"/>
    <div class="clear"></div>
  </div>
  <div class="row">
    <label>New Password</label>
    <textbox id="password" maxlength="100" type="password" class="w_487" onfocus="showPasswordRequirements();" onblur="hidePasswordRequirements();"/>
    <validatorcustom id="valPasswordCriteria" tag="div" class="error2" client="1" clientFunction="validatePasswordCriteria" controls="password" text="** Please choose a stonger password. **" groups="reg"/>
	<hidden id="passauth" value="" />
    <div class="clear"></div>
  </div>
  <div class="row">
    <label>Retype New Password</label>
    <textbox id="confirmPassword" maxlength="100" type="password" class="w_487"/>
    <validatorcompare id="valCompare" controls="password,confirmPassword" client="1" class="error2" text="Password does not match." groups="reg"/>
  </div>
  <div class="clear"></div>
  <div class="row p_t35">
    <a href="javascript:;" onclick="reset();" class="btn_red m_r20">
      <span class="btn_red_r">Cancel</span>
    </a>
    <a href="javascript:;" onclick="save();" class="btn_blue">
      <span class="btn_blue_r">Save</span>
    </a>
  </div>
	<div id="passwordRequirements">
		<section id="reqTitle">
			<h2>Password Requirements:</h2>
		</section>
		<section id="reqBody">
			<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
			<ul>
				<li>Uppercase letter (A-Z)</li>
				<li>Lowercase letter (a-z)</li>
				<li>Number (0-9)</li>
				<li>Symbols (#@!$%&:;)</li>
			</ul>
		</section>
	</div>
</div>
<script type="text/javascript"><![CDATA[
$(document).keyup( function(e){if (e.keyCode == 13) save();} );

var btnLock = false;
function save() {
	var isValid = validators.validate( 'reg', 'error', ' ' );
<?php if( !$isAdmin ): ?>
	var flagLocation = validators.validate( 'countryUS,countryCA,countryOT,address', 'error', '' );
	isValid = isValid && flagLocation;
<?php endif; ?>
	if( isValid ){
		$('#<?=ID('oldPassword')?>').val( sha1( $('#<?=ID('oldPassword')?>').val() ) );
		if( $('#<?=ID('password')?>').val().length >= 1 ) {
			$('#<?=ID('passauth')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
			$('#<?=ID('password')?>').val( '' );
		}
		if( $('#<?=ID('confirmPassword')?>').val().length >= 1 ) {
			$('#<?=ID('confirmPassword')?>').val( '' );
		}
		btnLock = true;
		ajax.doit('->save', ajax.getFormValues());
		$('#<?=ID('oldPassword')?>').val( '' );
	}
}

function reset() {
	ajax.doit('->resetMyAccount');
}

function action(val) {
	validators.results = new Array();
	validators.results[controls.get(val).id] = 0;
	validators._showResult(0, 'error', '');
}

function showPasswordRequirements() {
	$('#passwordRequirements').show();
}

function hidePasswordRequirements() {
	$('#passwordRequirements').hide();
}

function validatePasswordCriteria( ctrls, mode )
{
	var flag = false;
	var ctrlPwd = controls.$( ctrls[0] );
	flag = (ctrlPwd.value.length === 0);
	if( flag ) {
		validators.results[ctrls[0]] = flag;
		return flag;
	}
	flag = (ctrlPwd.value.length >= <?=\ClickBlocks\DB\UserAuth::ED_MIN_PASSWORD_LENGTH;?>);
	var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
	var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
	var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
	var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
	var t = (l + u + d + s >= 3);
	flag &= t;
	validators.results[ctrls[0]] = flag;
	return flag;
}

function unaction() {};

$( document ).ready(function() {
	toggleCountry();
});

]]></script>
