<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content_header p_t10" style="overflow:visible;">
			<h2><?=$headName?></h2>
			<div class="option_block reports m_t10">
				<a href="/admin/notifications/logs" class="btn_blue option_btn">
					<span class="btn_blue_r">View Logs</span>
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<widgetnotifications id="notifications" />
	</div>
</panel>