<table class="table mt50">
   <thead>
    <tr>
        <th>Description</th>
        <th class="ta-center">QTY</th>
        <th class="ta-center">Unit Price</th>
        <th class="ta-center">Line Total</th>
    </tr>
    </thead>
    <tbody>
    <? foreach ($rows as $idx => $row) { ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>">
        <td><?=$row['name']?></td>
        <td class="ta-center"><?=$row['quantity']?></td>
        <td class="ta-center"><?=$row['UnitPrice']?></td>
        <td class="ta-center"><?=$row['total']?></td>
    </tr>  
    <? } ?>
    </tbody>
</table>
<div class="table-total"><span>Total</span><?=sprintf('$%.2f', $sum)?></div>