<div class="client_settings">
	<h3 class="p_l40">Enterprise Client Settings</h3>
	<div class="row custom_radio_box p_t28">
		<hidden id="deactivated" value="0"/>
		<label id="lblActivated" class="custom_radio <?=$deactivated ? '':'r_on' ?>" onclick="setDeactivated('0')">Active</label>
		<label id="lblDeactivated" class="custom_radio <?=$deactivated ? 'r_on':'' ?>" onclick="setDeactivated('1')">Deactivated</label>
	</div>
	<div class="row" style="padding-left:22px;">
		<label>Sponsoring Reseller*</label>
		<dropdownbox id="resellerID" class="w_220" value="<?=$sponsorResellerID?>" options="php::\ClickBlocks\MVC\Backend\PageEnterpriseClientEdit::getEnterpriseResellers()" />
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label>Client Name*</label>
		<textbox id="name" class="w_220" maxlength="255" autofocus="autofocus"/>
	</div>
	<div class="row w_125">
		<label>Start Date*</label>
		<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block w_220" classButton="btn_calendar"/>
		<validatordate id="valDate" groups="step1" controls="startDate" hiding="1" client="1" class="error2" text="Date format is invalid"/>
	</div>
	<div class="row w_220">
		<label>eDepoze Sales Representative</label>
		<textbox id="salesRep" class="w_220" maxlength="255" autofocus="autofocus"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label><br />Primary Contact (Name)*</label>
		<textbox id="contactName" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_220">
		<label><br />Primary Contact (Email)*</label>
		<textbox id="contactEmail" class="w_220" maxlength="255"/>
		<validatoremail id="valContactEmail" tag="div" class="error2" groups="step1" client="1" controls="step1.contactEmail" text="** Email format is incorrect. **"/>
	</div>
	<div class="row w_220">
		<label>Primary Contact (Phone)* <br/> <span class="subLabel">(eg. 1234567890, 555-555-5555)</span></label>
		<textbox id="contactPhone" class="w_220" maxlength="40"/>
		<validatorphone id="valPhone" tag="div" class="error2" groups="step1" client="1" controls="step1.contactPhone" text="** Phone format is incorrect. **"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label>Address*</label>
		<textbox id="address1" class="w_220" maxlength="255"/>
	</div>
	<div class="row p_220 w_275">
		<label>&nbsp;</label>
		<textbox id="address2" class="w_220" maxlength="255"/>
	</div>
	<div class="clear"></div>
	<div class="row p_220">
		<label>City*</label>
		<textbox id="city" class="w_220" maxlength="255"/>
	</div>
	<div class="row">
		<label>State*</label>
		<dropdownbox id="state" style="width:75px;" />
	</div>
	<div class="row p_l20">
		<label>ZIP*</label>
		<textbox id="ZIP" class="w_125" maxlength="10"/>
	</div>
	<div class="clear"></div>
</div>

<div class="branding_info">
	<h3 class="p_l40">Branding Info</h3>
	<div class="row">
		<label>Enterprise Client Description</label>
		<memo id="description" class="w_220 h_139"></memo>
	</div>
	<div class="row branding_content" style="width:652px;padding-left:28px;">
		<h5 class="p_t0">Website Look &amp; Feel</h5>
		<div id="bannerDemo" class="webview_demo" tag="div" style="width:645px;">
			<textlabel id="logoLabel" text="Enterprise Client Logo" tag="p"/>
			<hidden id="logoName" value=""/>
			<image id="logoImage" width="344px" height="114px"/>

			<colorpicker id="bannerColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerColor')?>'),document.getElementById('bannerDemo'));" class="btn_blue" style="width:160px;margin-right:20px;">
				<span class="btn_blue_r">Change banner color</span>
			</a>
			<colorpicker id="bannerTextColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" style="width:160px;margin-right:20px;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerTextColor')?>'),null,chooseTextColor);" class="btn_blue">
			   <span class="btn_blue_r">Change text color</span>
			</a>
			<div id="textDemo" class="text" style="margin-right:20px; color: <?=$textcolor;?>">Sample</div>
		</div>
		<div class="website_config" style="width:640px;">
			<div class="f_l">
				<h5>Enterprise Client logo</h5>
				<uploadbutton id="btnUploadLogo" classContainer="btn_blue" tag="a" onclick="closeColorPicker();"><span class="btn_blue_r">Browse</span></uploadbutton>
			</div>
			<div class="url_config" style="width:440px;">
				<h5>URL*</h5>
				<span class="url_label">login.edepoze.com/</span>
				<textbox id="URL" class="url_input" maxlength="255"/>
				<validatorregularexpression expression="/^[\w.-]+$/" id="valURL" tag="div" class="error2 m_l65" groups="step1" client="1" controls="step1.URL" text="** The url is invalid. **"/>
				<validatorcustom id="valUrlUniq" tag="div" class="error2 m_l65" groups="step1" client="0" serverFunction="->checkUrl" action="actionUrl()" unaction="unaction()" controls="step1.URL" text="** Sorry, this URL is already in use, please choose another. **"/>
			</div>
		</div>
	</div>
</div>
