<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/login/general.html">
<popup id="confirmDialog" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirm.html"/>
<popup id="termsOfServiceDialog" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/termsOfServicePopup.html"/>
<popup id="termsOfService" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/termsOfService.html"/>
<div class="login-main">
<div id="header" class="header" style="display:block;"></div>
	<div class="centerpad">
		   <div class="lform">

					<div class="formhd">Welcome Member! </div>
						  <? if ($resellerLogo): ?>
							  <h2 class="auth_logo reseller_logo"><a href="javascript:void(0)" style="background-image:url(<?=$resellerLogo;?>)">eDepoze&trade;</a></h2>
							  <? else: ?>
							  <h2 class="auth_logo"><a href="javascript:void(0)">eDepoze&trade;</a></h2>
						  <? endif; ?>

						  <? if ($wasSent): ?>
						  <p class="form-txt p_t57">Password change confirmation has been sent to the account owner.</p>
						  <? endif; ?>

						  <p class="form-txt-error">
							<validatorcustom id="valLogin" tag="span" client="0" groups="login_serv" serverFunction="->loginCheck" order="1" text="** The username and/or password you entered is incorrect. **"/>&nbsp;
							<validatorcustom id="valLogin2" tag="span" client="0" groups="login_serv" serverFunction="->loginCheckActivate" order="2" text="** This user is deactivated. **"/>&nbsp;
						  </p>
			  <div class="form-body-members">
				 <? if ($isReporterLogin): ?>
				 <div class="form-group pt11">
					<label>Session ID:</label>
					<textbox id="depositionKey" class="form-control" placeholder="Insert Your Session ID" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>

				 </div>
				 <div class="form-group">
					<validatoremail id="valEmail" groups="login" controls="email" client="1"/>
					<label>Email Address: </label>
					<textbox id="email" class="form-control" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>
				 </div>
				 <? else: ?>
				 <div class="form-group">
					<label>Username:</label>
					<textbox id="username" class="form-control" placeholder="Insert Your Username" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>
				 </div>
				 <? endif; ?>
				 <div class="form-group pt11">
					<validatorrequired id="valFields" groups="login" controls="username,password" client="1"/>
					<label>Password:</label>

					<textbox id="password" type="password" class="form-control" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>
					<hidden id="passauth" value="" />
				 </div>

				<div class="lformbtn">
				 <? if (!$isAdmin && !$isReporterLogin): ?>
				 
					<a href="<?=$basePath;?>/recovery"><button class="btn btn-frgt" type="button">Forgot Password?</button></a>
				
				<? else: ?>
				 
					<a href="<?=$webapphost?>/reset"><button class="btn btn-frgt" type="button">Forgot Password?</button></a>
			  

				 <? endif; ?>
				
					<a href="javascript:void(0);" onclick="login();">
					   <button class="btn btn-log" type="submit">Login</button>
					</a>
				
				 </div>
				 <hidden id="timeZone" value=""/>
			  </div>
			  <div class="clear"></div>
		   </div>
   </div>
</div>
<script type="text/javascript">
//<![CDATA[
function login() {
	if (!isCompat ) {
		ajax.doit('->showErrorDialog', jQuery.browser );
		return;
	}
	if(!validators.validate('login','error','',true)) return;
	ajax.abort('->login');
	$("#<?=ID('timeZone');?>").val(new Date().getTimezoneOffset()*-1);
	$("#<?=ID('passauth');?>").val( sha1( $("#<?=ID('password');?>").val() ) );
	$("#<?=ID('password');?>").val('');
	ajax.bind(function(res){
	   if (res === false) {
		  var ct;
		  for (var f in {'email':1, 'username':1, 'password':1, 'depositionKey':1}) {
			 ct = controls.get(f);
			 if (ct) validators.results[ct.id] = 0;
		  }
		  validators._showResult(false, 'error', '');
	   }
	}).doit('->login',ajax.getFormValues());
}

var isCompat = false;
var isLatest = false;

$(document).ready( function() {
	if( jQuery.browser.chrome ) {
		isCompat = (jQuery.browser.majorVersion >= 30);
		isLatest = (jQuery.browser.majorVersion >= 40);
	} else if( jQuery.browser.mozilla ) {
		isCompat = (jQuery.browser.majorVersion >= 30);
		isLatest = (jQuery.browser.majorVersion >= 38);
	} else if( jQuery.browser.safari ) {
		isLatest = (jQuery.browser.majorVersion >= 9);
		isCompat = (jQuery.browser.majorVersion >= 6);
	} else if( jQuery.browser.msie ) {
		isCompat = (jQuery.browser.majorVersion >= 10);
		isLatest = jQuery.browser.webkit ? (jQuery.browser.majorVersion >= 12) : (jQuery.browser.majorVersion >= 11);
	}
	if( typeof console !== 'undefined' ) {
		console.log( jQuery.browser.ua );
		console.log( jQuery.browser.name, jQuery.browser.majorVersion, '-- isCompat:', isCompat, 'isLatest:', isLatest );
	}
	if( !isLatest && isCompat ) {
		showWarningDialog();
	} else if( !isCompat ) {
		$('#signin_options a').attr('href','javascript:showErrorDialog();');
		showErrorDialog();
	}
} );

function showWarningDialog()
{
	var msg = 'You are currently using ' + jQuery.browser.name + ' version ' + jQuery.browser.majorVersion + '. It is recommeded to upgrade to a newer version.<br/>Please consider updating your browser.';
	if( typeof console !== 'undefined' ) {
		console.log( msg );
	}
	return;
	showDialog1Btn( 'WARNING', msg, 'Continue' );
}

function showErrorDialog()
{
	var msg = 'You are currently using ' + jQuery.browser.name + ' version ' + jQuery.browser.majorVersion + '. It is required to upgrade to a newer version.<br/>You must update your browser to continue.';
	if( typeof console !== 'undefined' ) {
		console.log( msg );
	}
	ajax.doit( '->showErrorDialog', jQuery.browser );
}
//]]>
</script>
</panel>
