<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$url;?>/admin/report/commission">Commission Reports</a> / Report</p>
		</div>
		<div class="option_block">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="content commReports">
		<div class="report">
			<div class="commission">
				<div class="commissionHeader">
					<div class="mx-info-box">
						<div class="f_l"><?=$headName?></div>
						<div class="f_r"><?=$reportDate?></div>
					</div>
				</div>
				<div class="clear"></div>
				<div id="users">
					<table width="100%" class="commissionReport tbl_info_rpt m_t0 no-border">
						<thead>
							<tr>
								<th width="200px">Reseller<br />Firm</th>
								<th width="200px">Name<br />Username</th>
								<th width="200px">City<br />State</th>
								<th width="200px">Case</th>
								<th>Created<br />Deleted</th>
							</tr>
						</thead>
						<tbody>
							<? if( is_array( $reports ) ): ?>
							<? foreach( $reports as $rIdx => $row ): ?>
							<tr class="stripe">
								<td>
									<div class="w_200 to_e"><?=$row['resellerName'];?></div>
									<div class="w_200 to_e"><?=$row['clientName'];?></div>
								</td>
								<td>
									<div class="w_200 to_e"><?=$row['userFullName'];?></div>
									<div class="w_200 to_e"><?=$row['username'];?></div>
								</td>
								<td>
									<div class="w_200 to_e"><?=$row['city'];?></div>
									<div class="w_200 to_e"><?if($row['state']):?><?=$row['state'];?><?else:?><?=$row['region'];?><?endif?></div>
								</td>
								<td>
									<div class="w_200 to_e"><?=$row['caseName'];?></div>
								</td>
								<td>
									<div><?=date('m/d/Y',strtotime($row['created']));?></div>
									<div><?if($row['deleted']):?><?=date('m/d/Y',strtotime($row['deleted']));?><?else:?>-<?endif?></div>
								</td>
							</tr>
							<? endforeach; ?>
							<? endif; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
<![CDATA[
	function checkRow( arg, rowCount )
	{
		if( rowCount > 0 ) {
			ajax.max(1).doitSync( arg );
		}
	};
]]>
</script>
</panel>