<panel id="mainform" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general_print.html">
   <div class="title-box">
      <div class="title-info"><textlabel id="countCases" tag="span"/> Total Cases / <textlabel id="countDepos" tag="span"/> Total Depositions</div>
      <h2>eDepoze Admin Reports</h2>
      <div class="clear"></div>
   </div>
   <div class="top-info-box">
      <div class="date-box"><b>Today's Date</b> <?= date('m/d/Y'); ?></div>
      <div class="clear"></div>
   </div>
   <widgetreportscases id="cases" template="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/widgets/cases/reportscases_print.html"/> 
</panel>