<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content">
			<div class="content_header" style="overflow:visible;">
				<div class="f_l w_100p m_t10">
					<h2 class="p_t10"><?=$headName?></h2>
					<div class="option_block_small" style="margin-bottom: 10px;">
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<widgetusage id="usage" />
		</div>
	</div>
</panel>
