<table class="tbl_info">
	<tr>
		<th width="10">&nbsp;</th>
		<th width="90"><?=$links[0];?></th>
		<th><?=$links[1];?></th>
		<th width="90"><?=$links[2];?></th>
		<th width="90"><?=$links[3];?></th>
		<th width="130">&nbsp;</th>
   </tr>
</table>
<div class="scrollTable">
	<table class="tbl_info">
		<? foreach ($rows as $idx => $row) { ?>
		<? $editlink = "/{$url}/case/edit?ID={$row['ID']}"; ?>
		<? $viewlink = "/{$url}/case/view?ID={$row['ID']}"; ?>
		<tr class="<?= $idx%2 ? 'zebra':'';?>" style="cursor:pointer;" onclick="rowClick(event, '<?=($row['canView']) ? $viewlink : $editlink;?>')">
			<td style="width:10px"></td>
			<td style="width:90px" title="<?=htmlentities($row['number']);?>"><?=(mb_strlen($row['number']) > 13) ? (mb_substr($row['number'],0,11).'...') : $row['number'];?></td>
			<td><div class="to_e" style="width:488px;" title="<?=$row['name'];?>"><?=$row['name'];?></div></td>
			<td style="width:80px"><?=($row['isAdmin'] ? "{$row['sessionCount']} of " : '');?><?=$row['depositions'];?></td>
			<td style="width:80px"><?=date_format(date_create($row['created']), 'm/d/Y');?></td>
			<td style="width:130px">
				<div class="hide_links">
					<?php if( $row['canView'] ): ?>
					<a href="<?=$viewlink?>">View</a>
					<?php endif; ?>
					<?php if( $row['isAdmin'] || $row['isManager'] ): ?>
					<a href="<?=$editlink?>">Edit</a>
					<? if( $row['activeSessionCount'] == 0 ): ?>
					<a href="javascript:;" class="fc_red" onclick="deleteCase(event,<?=$row['ID'];?>, 0)">Delete</a>
					<?php endif; ?>
					<?php endif; ?>
				</div>
			</td>
		</tr>
		<? } ?>
		<? if (count($rows) == 0) { ?>
		<tr>
			<td colspan="6" class="t_a_c">
				<strong>Empty list</strong>
			</td>
		</tr>
		<? } ?>
	</table>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetClientCallback = '<?=$class;?>@<?=$uniqueID;?>';

function deleteCase( event, id, confirm ) {
	event = event || window.event;
	event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
	console.log( 'deleteCase', event );
	if ( confirm ) {
		ajax.doit( widgetClientCallback + '->deleteCase', id );
	} else {
		ajax.doit( widgetClientCallback + '->confirmDeleteCase', id );
	}
}

function rowClick( event, link ) {
	event = event || window.event;
	console.log( 'rowClick', event );
	var target = event.target || event.srcElement;
	if( target.tagName != 'A' && target.tagName != 'SPAN' ) {
		document.location = link;
	}
}
]]></script>
