<? if (!$print): ?>
<div class="panel_control m_t10">
   <div class="reports-table-action">
      <div class="text">Included Case Reports</div>
      <a class="btn_dark_gray" onclick="ajax.max(1).doit(widgetReportCallback+'->exportSelectedReports')" href="javascript:;">
         <span class="btn_dark_gray_r">Export</span>
      </a>
      <a class="btn_dark_gray" onclick="ajax.max(1).doit(widgetReportCallback+'->printSelectedReports')" href="javascript:;">
         <span class="btn_dark_gray_r">Print</span>
      </a>
   </div>
   <p class="showing"><span>Showing</span> <?= $from; ?> - <?= $to; ?> of <?= $count; ?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
      <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
   </p>
</div>
<? endif; ?>
<div class="clear"></div>
<table class="tbl_info reports">
   <tr>
      <th width="30" align="center"><a class="custom_checkbox2 select_all m_r5 f_l<?= ($isAllSelected ? ' checked' : ''); ?>" href="javascript:;" onclick="selectIDs()"></a></th>
      <th width="80"><?= $links[1]; ?></th>
      <th><?= $links[2]; ?></th>
      <th width="150"><?= $links[3]; ?></th>
      <th width="150"><?= $links[4]; ?></th>
      <th width="150" class=""><?= $links[5]; ?></th>
   </tr>
   <? foreach ($rows as $idx => $row) { ?>
      <? $viewlink = '/' . $url . '/report/case?ID=' . $row['ID']; ?>
      <tr class="<?= $idx % 2 ? 'zebra' : ''; ?>" onclick="rowClick(event, '<?= $viewlink ?>')">
         <td align="center"><a class="custom_checkbox2 numeric f_l <?= (isset($ids[$row['ID']]) ? ' checked' : ''); ?>" href="javascript:;" onclick="selectID('<?= $row['ID']; ?>');"></a></td>
         <td><?= $row['number'] ?></td>
         <td><div style="width: 120px; word-wrap: break-word"><a class="linkName" href="<?=$viewlink;?>"><?= htmlspecialchars($row['name']); ?></a></div></td>
         <td><?= htmlspecialchars($row['clientAccount']); ?></td>
         <td><?= htmlspecialchars($row['clientName']); ?></td>
         <td><?= htmlspecialchars($row['CaseManager']); ?></td>
      </tr>  
   <? } ?>
   <? if (count($rows) == 0) { ?>
      <tr>
         <td colspan="8" class="t_a_c">
            <strong>Empty list</strong>
         </td>
      </tr>
   <? } ?>
</table>
<? if (!$print): ?>
<div class="panel_paginator">
   <? if ($count > $pageSize) { ?>
      <navigator id="nav" template="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/navigator.html" navSize="1" />
   <? } ?>
   <p class="showing"><span>Showing</span> <?= $from; ?> - <?= $to; ?> of <?= $count; ?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
   <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
</p>
<? endif; ?>
<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
   widgetReportCallback = '<?= $class ?>@<?= $uniqueID ?>';
    
   function selectID(id){
      ajax.doit(widgetReportCallback + '->selectID', id);
   }
    
   function selectIDs(){
      ajax.doit(widgetReportCallback + '->selectAll');
   }

   function rowClick(event, link) {
      var target = event.target || event.srcElement;
      if (target.tagName != 'A' && target.tagName != 'SPAN') {
         document.location = link;
      }
   }

]]></script>