<div class="shadow-popup"></div>
<div class="wrap-popup" style="top:120px;">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title"><?=$action;?> Reseller</h3>
                    <div class="data">
						<hidden id="agreementID" value="<?=$row['ID'];?>" />
                        <div class="row p_t28">
                            <label>Reseller</label>
                            <customdropdownbox id="reseller" class="custom-select big-arrow reseller" style="width:400px;" />
                        </div>
                        <div class="clear"></div>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"/>
                                <textbutton id="btnOK" value="<?=$action;?>" class="big-button blue"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>