<div class="shadow-popup"></div>
<div class="wrap-popup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle" style="overflow-x:hidden;overflow-y:visible;overflow:visible;">
					<h3 class="title">Document Exists!</h3>
					<div class="data">
						<div class="row p_t10">
							A document by this name already exists. Are you sure you want to replace the existing document?
						</div>
						<div class="clear"></div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Cancel" class="big-button gray"></textbutton>
								<textbutton id="btnOK" value="Replace" class="big-button blue" onclick="overwriteFilename()"></textbutton>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><![CDATA[
	function overwriteFilename()
	{
		console.log( 'WebMgr:: Overwrite filename' );
//		var viewerAPI = window.top.webMgr.getViewer();
//		if( !viewerAPI.hasAnnotationChanges() ) {
//			console.log( 'WebMgr:: No changes found to save.' );
//			return;
//		}

		var formValues = ajax.getFormValues();
		formValues.overwriteFile = 'overwrite';
		window.top.webMgr.saveAnnotations( formValues, window.top.sourceFileID, 'overwrite' );
	}

]]></script>
