<div class="shadow-popup"></div>
<div class="wrap-popup-960">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle" style="overflow-x:hidden;overflow-y:visible;overflow:visible;">
                    <h3 class="title">Exhibit Log for <?=$headingName;?></h3>
					<div id="datatable" class="dt_<?=$type;?>">
						<div id="dt_head">
							<table border="0" style="table-layout:fixed;">
								<tr>
							<td class="dt_introduced">Time</td>
							<? if( $type == 'case' ): ?>
							<td class="dt_deposition">Session</td>
							<? endif; ?>
							<td class="dt_exhibit">Exhibit Name</td>
							<td class="dt_by">Introduced By</td>
							<td class="dt_source">Original File Name</td>
								</tr>
							</table>
						</div>
						<div id="dt_body">
							<table border="0" style="table-layout:fixed;">
							<? if( is_array( $rows ) && $rows ): foreach( $rows as $row ): ?>
							<tr class="dt_row">
								<td class="dt_introduced"><div><?=$row['lIntroducedDate'];?></div></td>
								<? if( $type == 'case' ): ?>
								<td class="dt_deposition" title="<?=$row['depositionOf'];?><?php if( $row['volume'] ): ?>&nbsp;(vol: <?=$row['volume'];?>)<?php endif; ?>">
									<div><?=$row['depositionOf'];?><?php if( $row['volume'] ): ?>&nbsp;(vol: <?=$row['volume'];?>)<?php endif; ?></div>
								</td>
								<? endif; ?>
								<td class="dt_exhibit" title="<?=$row['exhibitFilename'];?>"><div><a href="javascript:void(0);" onclick="viewFile(<?=$row['exhibitFileID'];?>);"><?=$row['exhibitFilename'];?></a></div></td>
								<td class="dt_by" title="<?=$row['introducedBy'];?>"><div><?=$row['introducedBy'];?></div></td>
								<td class="dt_source" title="<?=$row['sourceFilename'];?>">
									<div>
									<?php if( $row[ 'sourceFileID' ] && !$row[ 'sessionDeleted' ] ): ?>
									<a href="javascript:void(0);" onclick="viewFile(<?=(int)$row[ 'sourceFileID' ];?>);">
									<?=$row[ 'sourceFilename' ];?>
									</a>
									<?php elseif( $row[ 'sourceFileID' ] ): ?>
										<span class="dt_deleted"><?=$row[ 'sourceFilename' ];?></span>
									<?php endif; ?>
									&nbsp;
									</div>
								</td>
							</tr>
							<? endforeach; else: ?>
							<tr class="dt_row">
								<td class="dt_introduced">&nbsp;</td>
								<? if( $type == 'case' ): ?>
								<td class="dt_deposition"></td>
								<? endif; ?>
								<td class="dt_exhibit">-- no results --</td>
								<td class="dt_by">&nbsp;</td>
								<td class="dt_source">&nbsp;</td>
								<td class="clear"></td>
							</tr>
							<? endif; ?>
							</table>
						</div>
					</div>
					<div class="clear"></div>
					<div class="btn_wrap">
						<div class="option_btns">
							<textbutton id="btnCancel" value="Close" class="big-button blue" style="float:right;"/>
							<textbutton id="btnExportWithExhibits" value="Export with Exhibits" class="big-button blue" onclick="ajax.doit('->exportExhibitLogWithExhibits');" style="float:right;"/>
							<textbutton id="btnExport" value="Export" class="big-button blue" onclick="ajax.doit('->exportExhibitLog');" style="float:right;"/>
						</div>
					</div>
					<div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><![CDATA[
function viewFile( fileID ) {
	window.top.sourceFileID = fileID;
	ajax.doit( "->viewFile", fileID );
};
]]></script>
