<div class="shadow-popup"></div>
<div class="wrap-popup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>

        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title">Edit Document Name</h3>
                    <div class="data">
                        <div class="row p_t28">
                            <label>Document Name</label>
                            <textbox id="fileName" class="w_466" autofocus="autofocus" />
                        </div>
                        <div class="clear"></div>
                        <p class="auth_title error">
                            <validatorregularexpression expression="/^[a-zA-Z0-9\ @()#!,.&+='\-_^]+$/" id="valFileNameFormat" groups="file" client="1" controls="fileName" text="** The name is invalid. It can contain alphanumerics and @ ( ) # ! , . & + = ' - _ ^ characters. **"/>
                            <validatorrequired id="valFileName" groups="file" client="1" controls="fileName" text=""/>
                            <validatorcustom id="valFileUniq" groups="file" client="0" serverFunction="->checkFileName" action="actionFile()" unaction="unaction()" controls="fileName" text="** This name has already been taken. **"/>
                        </p>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"/>
                                <textbutton id="btnOK" value='Save' class="big-button blue"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>