<div class="popup-notice">
	<div class="shadow-popup"></div>
	<div class="wrap-popup">
		<div class="popup">
			
			<div class="popupcenter" >
				<div class="right">
					<div class="middle">
						<h3 class="title"><?=$header?></h3>
						<div class="data">
							<div class="row p_t22">
								<h4 class="sub_title"><?=$title?></h4>
							</div>
							<div class="row">
								<p class="warning_content"><?=$message?></p>
							</div>
							<div class="clear"></div>
							<div class="option_chooser_wrapper">
								<div class="option_chooser">
									<textbutton id="btnCancel" value="Close" class="big-button gray"></textbutton>
								</div>
							</div>
						   <div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
