<div class="shadow-popup"></div>
<div class="wrap-popup" style="top:26%;left:50%;">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle" style="overflow-x:hidden;overflow-y:visible;overflow:visible;">
					<h3 class="title">Name Your Personal Copy</h3>
					<div class="data">
						<div class="row p_t10">
							<textbox id="saveFilename" value="" class="w_466 filename_save"></textbox>
							<?php if( $filenameError ): ?>
							<span class="error"><?=$filenameError;?></span>
							<?php endif; ?>
						</div>
						<div class="clear"></div>
						<div class="row">
							<label><textlabel id="saveFolderLabel" tag="span" text="Save in Folder"></textlabel></label>
							<autofilldropdownbox id="saveFolderList" style="width:480px;max-height:180px;" class="afddb" options=""></autofilldropdownbox>
							<?php if( $folderListError ): ?>
							<span class="error"><?=$folderListError;?></span>
							<?php endif; ?>
						</div>
						<div class="clear"></div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Cancel" class="big-button gray"></textbutton>
								<textbutton id="btnOK" value="Save" class="big-button blue" onclick="saveAnnotations( false )"></textbutton>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><![CDATA[
	function saveAnnotations( overwrite )
	{
		if(typeof overwrite === "undefined") {
			overwrite = 'false';
		}
		console.log( 'WebMgr:: Validate filename' );
//		var viewerAPI = window.top.webMgr.getViewer();
//		if( !viewerAPI.hasAnnotationChanges() ) {
//			console.log( 'WebMgr:: No changes found to save.' );
//			return;
//		}

		var formValues = ajax.getFormValues();
		formValues.overwriteFile = overwrite;
		window.top.webMgr.saveAnnotations( formValues, window.top.sourceFileID, false );
	}

]]></script>
