<div class="shadow-popup"></div>
<div class="wrap-popup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title">Send Witness Invite</h3>
                    <div class="data">
                        <div class="row">
                            <label><textlabel id="witnessEmailLabel" tag="span" text="Witness Email"/></label>
							<textbox id="witnessEmail" class="w_466" maxlength="255"/>
							<validatoremail id="valEmail" groups="witnessinvite" client="1" tag="div" class="error2" controls="witnessEmail" text="** Email format is invalid. **"/>
                        </div>
                        <div class="clear"></div>
                        <p class="auth_title error">
                            <textlabel id="errormsg" tag="span"/>
                        </p>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"/>
                                <textbutton id="btnOK" value="Send" class="big-button blue" onclick="sendWitnessInvite();"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var witnessInviteLock = false;
function sendWitnessInvite()
{
	if( witnessInviteLock ) {
		return;
	}
	witnessInviteLock = true;
	ajax.doitSync( '->sendWitnessInvite', ajax.getFormValues() );
	witnessInviteLock = false;
}
</script>