@font-face{
	font-family:source_sans_pro_light;
	font-style:normal;
	font-weight:300;
	src:url(../fonts/sourcesanspro-light.otf) 
	format("opentype")
	}
@font-face{font-family:source_sans_pro_light;
	font-style:italic;
	font-weight:300;
	src:url(../fonts/sourcesanspro-lightit.otf) 
	format("opentype")
	}
@font-face{
	font-family:source_sans_pro_regular;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/sourcesanspro-regular.otf) 
	format("opentype"),url(../fonts/sourcesanspro-regular-webfont.ttf) 
	format("truetype"),url(../fonts/sourcesanspro-regular-webfont.woff) 
	format("woff"),url(../fonts/sourcesanspro-regular-webfont.woff2) 
	format("woff2"),url(../fonts/sourcesanspro-regular-webfont.eot),
	url(../fonts/sourcesanspro-regular-webfont.eot#iefix) 
	format("embedded-opentype")}
@font-face{
	font-family:source_sans_pro_regular;
	font-style:italic;
	font-weight:400;
	src:url(../fonts/sourcesanspro-it.otf) 
	format("opentype"),url(../fonts/sourcesanspro-it-webfont.ttf) 
	format("truetype"),url(../fonts/sourcesanspro-it-webfont.woff) 
	format("woff"),url(../fonts/sourcesanspro-it-webfont.woff2) 
	format("woff2"),url(../fonts/sourcesanspro-it-webfont.eot),
	url(../fonts/sourcesanspro-it-webfont.eot#iefix) 
	format("embedded-opentype")
	}
@font-face{font-family:source_sans_pro_semibold;
	font-style:normal;font-weight:600;src:url(../fonts/sourcesanspro-semibold.otf) 
	format("opentype"),url(../fonts/sourcesanspro-semibold-webfont.ttf) format("truetype"),
	url(../fonts/sourcesanspro-semibold-webfont.woff) format("woff"),
	url(../fonts/sourcesanspro-semibold-webfont.woff2) format("woff2"),
	url(../fonts/sourcesanspro-semibold-webfont.eot),
	url(../fonts/sourcesanspro-semibold-webfont.eot#iefix) 
	format("embedded-opentype")
	}
@font-face{
	font-family:source_sans_pro_semibold;
	font-style:italic;
	font-weight:600;
	src:url(../fonts/sourcesanspro-semiboldit.otf) format("opentype"),
	url(../fonts/sourcesanspro-semiboldit-webfont.ttf) format("truetype"),
	url(../fonts/sourcesanspro-semiboldit-webfont.woff) format("woff"),
	url(../fonts/sourcesanspro-semiboldit-webfont.woff2) format("woff2"),
	url(../fonts/sourcesanspro-semiboldit-webfont.eot),
	url(../fonts/sourcesanspro-semiboldit-webfont.eot#iefix) 
	format("embedded-opentype")
}



