* { -webkit-print-color-adjust: exact; }
html {
	height: 100%;
	width: 100%;
}
body {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	height: 100%;
}
a:link, a:visited {
	text-decoration:underline;
	color:#3fa9f5;
	outline:none;
}
a:hover {
	text-decoration:none;
	color:#3fa9f5;
	outline:none;
}
table {
	border:none;
	border-collapse:collapse;
}
p, h1, h2, h3, h4, h5, h6, ul, li {
	font-weight:normal;
	margin:0;
	padding:0;
}
li {
	list-style:none;
}
img {
	border:none;
}
.left {
	float:left!important;
}
.right {
	float:right!important;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
}
.ta-center {
	text-align:center!important;
}
.ta-left {
	text-align:left!important;
}
.ta-right {
	text-align:right!important;
}
.page-break {
   page-break-after:always; /*height:0px; border: 1px solid red;*/
}
/*******************/

/*******************/
h1 {
	width:138px;
	height:47px;
}
	h1 a {
		display:block;
		width:163px;
		height:54px;
		overflow:hidden;
		white-space:nowrap;
		text-indent: 100%;
		background: url(../img/logo.png) 0 0 no-repeat;
      background-size: 163px 54px;
      -moz-background-size: 163px 54px;
      -webkit-background-size: 163px 54px;
      -webkit-print-color-adjust: exact;
	}
h2 {
	font-size:38px;
	color:#343434;
}
h3 {
	font-size:28px;
	font-weight: bold;
	color:#262626;
}
/********************/
.mt25 {
	margin-top: 25px!important;
}
.mt50 {
	margin-top: 50px!important;
}
.header_margin {
	height: 80px!important;
   width:100%;
}
.footer_margin {
	height: 180px!important;
   width:100%;
}
/*******************/
.container {
	width:960px;
	margin: 0 auto 0 auto;
	position:relative;
	min-height: 100%;
}
.content-pad {
	padding: 0 0 90px;
}
.header {
	padding: 35px 0 20px;
	height:47px;
}

.footer {
	margin: -70px 0 0;
	position:relative;
	color:#FFFFFF;
	font-size:11px;
	padding: 0;
	height:40px;
	line-height: 20px;
	text-align:right;
	background: #214da1;
	padding: 15px 0;
   width:100%;
   -webkit-print-color-adjust: exact;
}
	.footer-content {
		margin: 5px 0 0 100px;
		width: 760px;
		height: 32px;
		text-align: right;
		position:relative;
	}
	.footer-content .page {
		position: absolute;
		left:0;
		top:-70px;
		color:#676767;
		font-size: 16px;
	}
	.footer-content .resellerName {
		float: left;
		color: #FFF;
		font-size: 18px;
		text-align: left;
		vertical-align: middle;
		line-height: 32px;
		width: 500px;
	}
/**********************/
.title-box {
	border-bottom: 2px solid #343434;
}
	.title-box .title-info {
		float: right;
		font-size: 20px;
		margin: 15px 0 0;
	}
.top-info-box {
	font-size: 20px;
	line-height: 30px;
	margin: 20px 0 0;
	padding: 0 0 10px;
}
	.top-info-box .date-box {
		float: right;
	}
	.top-info-box h3 {
		padding: 10px 0 0;
	}
	.top-info-box p {
		padding: 13px 0;
	}
	.top-info-box .left-side {
		float: left;
		width: 50%;
	}
	.top-info-box .right-side {
		float: right;
		width: 260px;
	}
	.top-info-box .coll3-box {
		float: left;
		width: 33%;
		margin: 0;
	}

	.top-info-box .active {
		font-weight: bold;
		color:#098d45;
	}
   .top-info-box .deactivated {
		font-weight: bold;
		color:#ad1515;
	}
.table-info-line {
	font-size: 20px;
	padding: 10px 0 0;
}
.table {
	border: 1px solid #6d6a69;
	border-spacing: 0;
	width: 960px;
	font-size: 15px;
	margin: 0;
}
	.table th {
		background: #214da1;
		color:#FFFFFF;
		font-weight: normal;
		text-align: left;
		padding: 6px 15px;
      -webkit-print-color-adjust: exact;
	}
   .table.more_columns th {
		padding: 12px 12px;
	}
	.table td {
		border-top: 1px solid #6d6a69;
		text-align: left;
		padding: 12px 15px;
      height: 20px;
	}
	.table_td_rpt {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
   .table td.yes {
		color:#098d45;
	}
   .table td.no {
		color:#ad1515;
	}
	.table.details tr {
		background:#FFFFFF;
	}
	.table.details tr.title {
		background:#e8e8e8;
	}
	.table.details tr.zebra, .zebra{
		background: #e8e8e8;
      -webkit-print-color-adjust: exact;
	}

   .table.details tr.title.b {
      font-weight:bold;
   }
		.table.details tr .level1{
         padding-left:50px;
		}
		.table.details tr .level2{
			padding-left:80px;
		}
      .table.details tr .level3{
			padding-left:110px;
		}
.table-total {
	border: 1px solid #6d6a69;
	text-align: right;
	padding: 10px 0 10px;
	font-size: 18px;
    width: 958px;
}
	.table-total span {
		font-weight: bold;
		margin: 0 10px 0 0;
	}
.notes-box {
}
	.notes-box label {
		font-weight: bold;
		font-size: 22px;
	}
	.notes-box .note-content {
		background: none!important;
		border-top: 1px solid #000000;
		height: 115px;
		margin: 10px 0 0;
	}
	.notes-box .note-text {
		text-align: right;
		color:#262626;
		font-size: 22px;
		margin: 10px 0 0;
	}

.report-client {
	height: 30px;
	background-color: #00a5e4;
	color: #fff;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.table-wrapper {
	border-width: 1px;
}

.report-wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.info-box {
	margin-bottom: 10px;
	font-size: 14px;
}

.col3-box {
	float: left;
	width: 33%;
}

.foot {
	position: static;
	color:#FFFFFF;
	font-size:11px;
	padding: 0;
	height:40px;
	line-height: 20px;
	text-align:right;
	background: #214da1;
	margin-top: 30px;
	padding: 15px 0;
	width:100%;
	-webkit-print-color-adjust: exact;
}

.report .deposition .witness .volume {
	margin-left: 400px;
}

.pgbrk {
	page-break-after: always;
}

@media print {
}

@page {
	margin: 15mm !important;
}
