<body id="page">
   <div class="container">
      <? if (!$pdf): ?>
      <div class="header">
         <? if ($resellerLogo): ?>
            <h1><a href="javascript:;" style="background-image:url(<?= $resellerLogo; ?>)"></a></h1>
         <? else: ?>
            <h1><a href="javascript:;"></a></h1>
         <? endif; ?>
      </div>
      <? endif; ?>
      <?=$mainform;?>
      <? if (!$pdf): ?>
      <div class="footer">
         <div class="footer-content">
			<img src="<?=$brandingLogo;?>" width="105" height="31" />
         </div>
      </div>
      <? endif; ?>
   </div>

</body>