<label>Start Date</label>
<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="1"/>
<label>End Date</label>
<datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="1"/>
<validatorrequired id="valDateRange" hiding="1" controls="startDate,endDate" groups="runReport"/>
<validatorcustom id="valDateRangeCompare" clientFunction="validateDateRange" client="1" hiding="1" controls="startDate,endDate" groups="runReport"/>
<a href="javascript:;" onclick="if (validators.validate('runReport','error','',1)) ajax.doit('<?=  addslashes($callBack);?>');" class="btn_blue">
   <span class="btn_blue_r"><?= $btnCaption; ?></span>
</a>