<div class="nobg_panel_control m_t0">
	<div class="row p_t9 p_b10 b_b1" >
		<div style="float:left; padding:21px 0 0 0;">
			<a href="javascript:;" onclick="checkRow('->printThisPage', <?=count($ids);?>);" class="btn_blue option_btn m_r20">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportList', <?=count($ids);?>)" class="btn_blue option_btn">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
		<div class="f_r p_r5">
			<table align="right">
				<tr>
					<td width="140">
						<label class="white-label">Month</label>
						<customdropdownbox id="month" class="custom-select big-arrow t_0 l_0"/>
					</td>
					<td width="140">
						<label class="white-label">Year</label>
						<customdropdownbox id="year" class="custom-select big-arrow t_0 l_0"/>
					</td>
					<td width="100" style="vertical-align: bottom;">
						<a href="javascript:;" onclick="checkRow(widgetReportCallback+'->viewSelectedReports', <?=count($ids);?>)" class="btn_blue option_btn">
							<span class="btn_blue_r">View Reports</span>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>
<div class="panel_showing row" >
		<div class="f_l" >
		<p class="commission_showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
		<pagesize id="pageSize" style="width:47px; top: -3px;" class="custom-select small"/>
		</p>
		</div>
	</div>
<table class="tbl_info">
    <tr>
        <th width="40" align="center"><a class="custom_checkbox2 select_all m_r5 f_l<?=($isAllSelected ? ' checked' : '');?>" href="javascript:;" onclick="selectIDs()"></a></th>
        <th width="80"><?=$links[0];?></th>
        <th><?=$links[1];?></th>
        <th width="140"><?=$links[2];?></th>
        <th width="50"><?=$links[3];?></th>
        <th width="240"><?=$links[4];?></th>
        <th width="80" class="t_a_c"><?=$links[5];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) { ?>
    <? $viewlink = ($url ? '/'.$url.'/report/detailreport?cID[0]=' : '/admin/report/commission/detail?cID[0]=') . $row['ID']; ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?> h_50" onclick="selectID('<?=$row['ID'];?>');">
        <td class="h_50" align="center"><a class="custom_checkbox2 numeric f_l m_t16 <?=(isset($emails[$row['ID']]) ? ' checked' : '');?>" href="javascript:;"></a></td>
        <td class="h_50"><?=$row['ID']?></td>
        <td class="h_50"><div style="width: 325px; word-wrap: break-word"><a class="linkName" href="<?=$viewlink?>"><?=htmlspecialchars($row['name'])?></a></div></td>
        <td class="h_50"><?=htmlspecialchars($row['city'])?></td>
        <td class="h_50"><?=htmlspecialchars($row['state'])?></td>
        <td class="h_50"><div class="p_t5"><p class="h_20"><?=htmlspecialchars($row['contactName'])?></p><p class="h_20"><?=htmlspecialchars($row['contactEmail'])?></p></div></td>
        <? if ($row['deactivated']) { ?>
        <td class="h_50 t_a_c deactivated_status">Inactive</td>
        <? } else { ?>
        <td class="h_50 t_a_c activated_status">Active</td>
        <? } ?>
    </tr>
    <? } ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="9" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
    <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
</p>
<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
    widgetReportCallback = '<?=$class?>@<?=$uniqueID?>';

	$(document).ready( function() {
		if(!'<?=$isAdmin?>') {
			$('#rightToolbarActions').css("width", "520px");
		};
	});

	function checkRow(arg, rowCount) {
		if (rowCount > 0) {
			ajax.max(1).doitSync(arg);
		}
	}

    function selectID(id){
        ajax.doit(widgetReportCallback + '->selectID', id);
    }

    function selectIDs(){
        ajax.doit(widgetReportCallback + '->selectAll');
    }

    function rowClick(event, link) {
		return;  // depercated
        var target = event.target || event.srcElement;
        if (target.tagName != 'A' && target.tagName != 'SPAN') {
            document.location = link;
        }
    }
	function valDates(ids) {
		var flag = true;
		var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
		var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
		if (dateE < dateS) {
			validators.results[ids[1]] = 0;
			return false;
		}
		return true;
	}

]]></script>