<div class="panel_control">
	<popup id="deletePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/activate.html"/>
	<navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
	<p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
		<pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
	</p>
</div>
<table class="tbl_info" name="user_list">
	<tr>
		<th width="30">&nbsp;</th>
		<th width="70"><?=$links[0];?></th>
		<th width="200"><?=$links[1];?></th>
		<th width="200"><?=$links[2];?></th>
		<th width="100"><?=$links[3];?></th>
		<th width="100"><?=$links[4];?></th>
		<th>&nbsp;</th>
	</tr>
	<? foreach( $rows as $idx => $row ): ?>
	<? $editLink = $editPath . $row['ID']; ?>
	<tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="rowClick(event, '<?=$editLink?>')">
		<td></td>
		<td><?=$row['ID'];?></td>
		<td><?=$row['name']?></td>
		<td><?=$row['contactName'];?></td>
		<td><?=date( 'm/d/Y', strtotime( $row['startDate'] ));?></td>
		<? if( $row['deactivated'] ): ?>
			 <td class="deactivated_status">Deactivated</td>
		<? else: ?>
			 <td class="activated_status">Active</td>
		<? endif; ?>
		<td>
			 <div class="hide_links">
				 <a href="<?=$editLink?>">Edit</a>
				 <a href="javascript:void(0)" onclick="activateAccount(<?=$row['ID']?>, 0);"><?= ($row['deactivated']) ? 'Activate':'Deactivate' ?></a>
			 </div>
		</td>
	</tr>
	<? endforeach; ?>
	<? if( !$rows ): ?>
	<tr>
		<td colspan="7" class="textcenter">
			<strong><?=(!$searchValue ? 'Empty list' : '"'. $searchValue . '" not found');?></strong>
		</td>
	</tr>
	<? endif; ?>
</table>
<div class="panel_paginator">
	<? if( $count > $pageSize ): ?>
	<navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
	<? endif; ?>
	<p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
		<pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
	</p>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetAdminCallback = '<?=$class?>@<?=$uniqueID?>';

function activateAccount(id, confirm) {
  if ( confirm ) {
    ajax.doit(widgetAdminCallback + '->activateAccount', id);
  } else {
    ajax.doit(widgetAdminCallback + '->confirmActivateAccount', id);
  }
}

function rowClick(event, link) {
  var target = event.target || event.srcElement;
  if (target.tagName != 'A' && target.tagName != 'SPAN') {
      document.location = link;
  }
}
]]></script>
