<div class="panel_control">
    <navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
    </p>
</div>
<table class="tbl_info" name="user_list">
    <tr>
        <th width="30">&nbsp;</th>
        <th width="200"><?=$links[0];?></th>
        <th width="200"><?=$links[1];?></th>
        <th width="200"><?=$links[2];?></th>
        <th>&nbsp;</th>
   </tr>
   <? foreach ($rows as $idx => $row) { ?>
   <? $editlink = $editPath . '?ID=' . $row['ID']; ?>
   <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="rowClick(event, '<?=$editlink?>')">
       <td align="center"></td>
       <td><?=$row['firstName']?></td>
       <td><?=$row['lastName']?></td>
       <td><?=$userTypes[$row['typeID']];?><?=($row['clientAdmin']?'&nbsp;<i>[Admin]</i>':'');?></td>
       <td>
            <div class="hide_links">
                <a href="<?=$editlink?>">Edit</a>
            </div>
       </td>
    </tr>
   <? } ?>
   <? if (count($rows) == 0) { ?>
   <tr>
     <td colspan="7" class="textcenter">
       <strong><?=(empty($searchValue)?'Empty list':'"'.$searchValue.'" not found')?></strong>
     </td>
   </tr>
   <? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
    </p>
    <div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetAdminCallback = '<?=$class?>@<?=$uniqueID?>';

function rowClick(event, link) {
  var target = event.target || event.srcElement;
  if (target.tagName != 'A' && target.tagName != 'SPAN') {
      document.location = link;
  }
}

function clickSearch(e) {
  if ((e || event).keyCode == 13) {
      searchValue();
  }
}

function searchValue() {
  ajax.doit(widgetAdminCallback + '->search');
}
]]></script>