<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/common/general.html">
	<popup id="viewFilePopup" class="file_viewer_popup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/viewFile.html"></popup>
	<popup id="viewAudioPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/viewAudio.html"></popup>
	<popup id="viewVideoPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/viewVideo.html"></popup>
	<popup id="exhibitLogPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/exhibitLog.html"></popup>
	<popup id="folderEditPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/folderEdit.html"></popup>
	<popup id="fileEditPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/fileEdit.html"></popup>
	<popup id="moveFilesPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/moveFiles.html"></popup>
	<popup id="uploadFilesPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/uploadFiles.html"></popup>
	<popup id="addPlaceholderPopup" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/addPlaceholder.html"></popup>
	<popup id="saveFilePopup" class="file_save_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/saveFile.html"></popup>
	<popup id="saveChangesPromptPopup" class="save_changes_prompt_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/saveChangesPrompt.html"></popup>
	<popup id="ConfirmFileOverwritePopup" class="file_overwrite_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirmFileOverwrite.html"></popup>
	<popup id="noticeSavePopup" class="notice_save_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/subtleNotice.html"></popup>
	<popup id="searchCancelPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/searchCancel.html"></popup>
	<popup id="downloadCasePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/downloadCase.html"></popup>

	<div class="main">
		<div id="customSortMenuWrap" style="display:none;">
			<div class="shadow" onclick="$('#customSortMenuWrap').hide();"></div>
			<div id="customSortMenu">
				<div class="sortMarker">&nbsp;</div>
				<ul></ul>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content">
            <div class="breadcrumb">
				<p><a href="/<?=$url?>/cases">Case Management</a> / <?=$caseName?></p>
			</div>
			<div class="clear"></div>
			<div class="content_header">
				<h2><img src="/Application/_includes/backend/asset/images/CM-Blue.png"/> Case <?=$caseNumber?>: <?=$headerName?></h2>
				<div class="option_block">
					<? if( $isTrustedUser ): ?>
					<menubutton id="add_btn_menu" label="Add Session" class="menubtn addSession"></menubutton>
                    <? endif; ?>
					<? if( $isTrustedUser || $isClientAdmin ): ?>
					<menubutton id="case_btn_menu" label="Case Options" class="menubtn caseOptions"></menubutton>
					<? endif; ?>
				</div>
			</div>
			<?php if( $isTrustedUser ): ?>
			<div id="caseFolders">
				<div class="toggle">
					<div>Case Folders <a href="javascript:;" onclick="ajax.doit('->showCaseFolder');">?</a></div>
					<div class="icon" onclick="caseFoldersToggle();">
						<svg width="18" height="12" viewBox="0 0 18 12" preserveAspectRatio="xMinYMax meet">
							<polyline points="2,9.5 9,3.5 16,9.5" style="fill:none;stroke:#fff;stroke-width:3;"/>
						</svg>
					</div>
				</div>
				<div id="file_mgmt">
					<div id="file_mgmt_disable" onclick="fileMgmt.searchShadowHandler();"></div>
					<panel id="foldersPanel" class="folders_block file_mgmt_block">
						<div id="folderActionBar" class="btn_bar">
							<div class="sessionView_table_header" id="folders_legend"><img src="/Application/_includes/backend/asset/images/f1.png" /> Folders (<?=(int)$folderCount;?>)</div>
							<div class="file_mgmt_buttons">
								<!--a id="importBtn" class="file_mgmt_btn small <?=$hasDatasources ? 'active' : '';?>" href="javascript:;">
									<span>Import</span>
								</a-->
								<a id="addFolderBtn" class="file_mgmt_btn small active" href="javascript:;" onclick="fileMgmt.editFolder( event, 0 );">
									<span>Add Folder</span>
								</a>
							</div>
						</div>
						<div class="col_header sort_header">
							<div id="folderSortPanel">
								<div id="folderSortBy" class="sortBy f_l" onclick="fileMgmt.showSortMenu(event,'Folders');"><?=$folderSortBy?></div>
								<div id="folderSortOrder" class="sortOrder f_l <?=$folderSortOrder ? $folderSortOrder : '';?>" onclick="fileMgmt.toggleSortOrder( 'Folders' );"></div>
								<div class="clear"></div>
							</div>
							<a id="finishFoldersSortEditBtn" class="file_mgmt_btn done_btn finishSortBtn active" href="javascript:;">
								<span>Done</span>
							</a>
						</div>
						<div id="folderList" class="file_mgmt_table">
							<div id="folder_panel">
								<table id="fileMgmtFolderList" class="folder_list innerTable">
										<? if ($folderList): ?>
										<? foreach ($folderList as $idx => $folderInfo): ?>
										<tr id="folder_<?=$folderInfo['ID']?>" class="clickable sortable <?=($selectedFolderID == $folderInfo['ID'])?'selected':'';?>" onclick="fileMgmt.selectFolder(<?=$folderInfo['ID'];?>)" draggable="true" data-id="<?=$folderInfo['ID']?>">
											<td class="dragBox"><div class="handle"></div></td>
											<td class="col1"><div class="to_e"><?=$folderInfo['name'];?></div></td>
											<? if( $folderInfo['canManage'] ): ?>
											<td class="col2 rename active" onclick="fileMgmt.editFolder(event, <?=(int)$folderInfo['ID'];?>);">Rename</td>
											<? else: ?>
											<td class="col2" >&nbsp;</td>
											<? endif; ?>
										</tr>
										<? endforeach; ?>
										<? endif; ?>
								</table>
							</div>
						</div>
						<div id="folderListFooter" class="col_footer">
							<div class="option_btns">
								<div id="downloadFolderBtn" class="btn <?=($folderFileCount ? 'active' : '');?>" onclick="<?=($folderFileCount ? 'fileMgmt.downloadFolder();' : '');?>">
									<span>Download</span>
								</div>
								<div id="copyFolderBtn" class="btn <?=($canManageSelected ? 'active' : '');?>" onclick="<?=($canManageSelected ? 'fileMgmt.copyFolder(event, false);' : '');?>">
									<span>Copy</span>
								</div>
								<div id="moveFolderBtn" class="btn <?=($canManageSelected ? 'active' : '');?>" onclick="<?=($canManageSelected ? 'fileMgmt.moveFolder(event, false);' : '');?>">
									<span>Move</span>
								</div>
								<div id="deleteFolderBtn" class="btn <?=($canManageSelected ? 'active' : '');?>" onclick="<?=($canManageSelected ? 'fileMgmt.deleteFolder();' : '');?>">
									<span class="fc_light_red">Delete</span>
								</div>
							</div>
						</div>
					</panel>
					<panel id="filesPanel" class="files_block file_mgmt_block">
						<div id="fileActionBar" class="btn_bar">
							<div class="sessionView_table_header" id="documents_legend"><img src="/Application/_includes/backend/asset/images/f2.png"/> Documents (<?=$fileListCount;?>)</div>
							<div class="file_mgmt_buttons" style="<?=($isContentSearch ? 'display:none;' : '');?>">
								<a id="addPlaceholderBtn" class="file_mgmt_btn long <?=($canManageFolder ? 'active':'');?>" href="javascript:;" onclick="<?=($canManageFolder ? 'fileMgmt.showAddPlaceholder()' : '');?>">
									<span>Add Placeholder</span>
								</a>
								<a id="addDocsBtn" class="file_mgmt_btn long active" href="javascript:;" onclick="fileMgmt.showUploadFiles();">
									<span>Add Documents</span>
								</a>
							</div>

							<div class="doc_search_container <?=($isContentSearch ? 'active' : '')?>">
								<div class="search_icon" onclick="fileMgmt.startSearch()"></div>
								<div class="search_bar_container">
									<textbox id="searchDocs" onkeyup="fileMgmt.searchKeyupHandler(event)"></textbox>
									<a id="clearSearchBarBtn" href="javascript:;" onclick="fileMgmt.clearSearch()"></a>
									<div id="searchDone" class="file_mgmt_btn active" onclick="fileMgmt.doneSearchHandler(event)">Done</div>
									<a id="configSearchBtn" title="Configure your search options" href="javascript:;" onclick="fileMgmt.searchConfigHandler()"></a>
									<div id="searchConfigPopup">
										<div id="searchConfigPointer"></div>
										<div id="searchConfigPointerFill"></div>
										<div class="searchConfigBox">
											<div class="cs_option_row" onclick="fileMgmt.toggleSearchOption('all');">
												<a id="flagAllDocsSearch" class="custom_radio <?=($searchOptions['allDocs'] ? 'r_on' : '');?>"></a> All Documents in Case
											</div>
											<div class="cs_option_row" onclick="fileMgmt.toggleSearchOption('caseFolders');">
												<a id="flagCaseFoldersSearch" class="custom_radio <?=($searchOptions['caseFolders'] ? 'r_on' : '');?>"></a> Documents in Case Folders
											</div>
											<div class="cs_option_row" onclick="fileMgmt.toggleSearchOption('folder');">
												<a id="flagFolderSearch" class="custom_radio <?=($searchOptions['folderID'] ? 'r_on' : '');?>"></a> In Folder: <span id="searchConfigFolder"><?=$selectdFolderName;?></span>
											</div>
										</div>
										<div class="searchConfigBox">
											<div class="cs_option_row" onclick="fileMgmt.toggleSearchOption('content');">
												<a id="flagContentSearch" class="custom_checkbox <?=($searchOptions['searchContent'] ? 'r_on' : '');?>"></a> Document Content
											</div>
											<div class="cs_option_row" onclick="fileMgmt.toggleSearchOption('filename');">
												<a id="flagFilenameSearch" class="custom_checkbox <?=($searchOptions['includeFilename'] ? 'r_on' : '');?>"></a> Document Name
											</div>
										</div>
										<div id="searchOptionsDone" class="file_mgmt_btn active" onclick="fileMgmt.applySearchOptions();">Apply</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col_header sort_header">
							<div class="checkAllDiv f_l"><a id="checkAllFiles" class="custom_checkbox2 checkAll <?=(($fileList && count( $selectedFileIDs ) == count( $fileList )) ? 'checked' : '');?>" onclick="fileMgmt.selectAll();"></a></div>
							<div id="fileSortPanel" class="f_l">
								<div id="fileSortBy" class="sortBy f_l" onclick="fileMgmt.showSortMenu(event,'Files')"><?=$fileSortBy?></div>
								<div id="fileSortOrder" class="sortOrder f_l <?=$fileSortOrder ? $fileSortOrder : '';?>" onclick="fileMgmt.toggleSortOrder( 'Files' );"></div>
								<div class="clear"></div>
							</div>
							<div class="sizeContainer caseSearch f_l"><div class="contentSearchLabel f_r">Size</div></div>
							<div class="sessionContainer caseSearch f_l"><div class="contentSearchLabel f_l">Session</div></div>
							<div class="folderContainer caseSearch f_l"><div class="contentSearchLabel f_l">Folder</div></div>
							<div class="rankContainer caseSearch f_l"><div class="contentSearchLabel f_l">Rank</div></div>
							<a id="finishFilesSortEditBtn" class="file_mgmt_btn done_btn finishSortBtn active" href="javascript:;">
								<span>Done</span>
							</a>
						</div>
						<div id="file_mgmt_fileList" class="file_mgmt_table">

							<div id="fileListPanel">
								<div id="file_panel">
									<table id="fileMgmtFileList" class="file_list innerTable">
										<?php if( $fileList ): ?>
										<?php foreach( $fileList as $idx => $fileInfo ): ?>
										<tr id="file_<?=(int)$fileInfo['ID'];?>" class="clickable sortable" onclick="fileMgmt.selectFile(<?=(int)$fileInfo['ID'];?>);" draggable="true" data-id="<?=(int)$fileInfo['ID'];?>">
											<td class="col1">
												<a id="checkBox_<?=(int)$fileInfo['ID'];?>" class="custom_checkbox2 <?=(isset( $selectedFileIDs[$fileInfo['ID']] ) ? 'checked' : '' );?>"></a>
												<div class="handle"></div>
											</td>
										<?php if( $isContentSearch ): ?>
											<td class="col2A"><div class="to_e col2A"><?=$fileInfo['name'];?></div></td>
										<?php else: ?>
											<td class="col2"><div class="to_e col2"><?=$fileInfo['name'];?></div></td>
										<?php endif; ?>
											<td class="col3"><div class="f_r m_r30"><?=$fileInfo['size'];?></div></td>

										<?php if( $isContentSearch ): ?>
											<td class="csCol4B"><div class="to_e csCol4B"><?=$fileInfo[ 'session' ];?></div></td>
											<td class="csCol4B"><div class="to_e csCol4B"><?=$fileInfo[ 'folder' ];?></div></td>
											<td class="csCol5"><div class="f_r csCol5"><?=$fileInfo[ 'rank' ];?></div></td>
											<td class="csCol6B">&nbsp;</td>
											<td class="view active" onclick="fileMgmt.viewFile(event,<?=$fileInfo[ 'ID' ];?>);"><div class="col4">View</div></td>
										<?php else: ?>
											<?php if( $fileInfo[ 'canManage' ] ): ?>
											<td class="col4A view active">
												<div class="col4" onclick="fileMgmt.viewFile(event,<?=$fileInfo['ID'];?>);">View</div>
											</td>
											<td class="rename active">
												<div onclick="fileMgmt.editFile(event,<?=$fileInfo['ID'];?>);">Rename</div>
											</td>
											<?php else: ?>
											<td class="col4B">&nbsp;</td>
											<td class="view active">
												<div class="col4" onclick="fileMgmt.viewFile(event,<?=$fileInfo['ID'];?>);">View</div>
											</td>
											<?php endif; ?>
										<?php endif; ?>
										</tr>
										<?php endforeach; ?>
										<?php else: ?>
										<tr class="empty">
											<td colspan="7">(empty)</td>
										</tr>
										<?php endif; ?>
									</table>
								</div>
							</div>

						</div>
						<div id="fileListFooter" class="col_footer">
							<div id="selectedFilesCount" class="selectedCount">Selected (<?=count( $selectedFileIDs );?>)</div>
							<panel id="fileOptionBtns" class="option_btns">
								<div id="downloadFileBtn" class="btn <?=($selectedFileIDs ? 'active' : '');?>" onclick="<?=($selectedFileIDs ? 'fileMgmt.downloadFiles()' : '');?>">
									<span>Download</span>
								</div>
								<div id="copyFileBtn" class="btn <?=($selectedFileIDs ? 'active' : '');?>" onclick="<?=($selectedFileIDs ? 'fileMgmt.copyFiles(event, false)' : '');?>">
									<span>Copy</span>
								</div>
								<div id="moveFileBtn" class="btn <?=($selectedFileIDs ? 'active' : '');?>" onclick="<?=($selectedFileIDs ? 'fileMgmt.moveFiles(event, false)' : '');?>">
									<span>Move</span>
								</div>
								<div id="deleteFileBtn" class="btn  <?=($selectedFileIDs ? 'active' : '');?>" onclick="<?=($selectedFileIDs ? 'fileMgmt.deleteFiles()' : '');?>">
									<span class="fc_light_red">Delete</span>
								</div>
							</panel>
						</div>
					</panel>
				</div>
			</div>
			<?php endif; ?>
			<div class="content m_t20">
				<widgetcaseView id="caseView"></widgetcaseView>
			</div>
		</div>
    </div>
<script type="text/javascript"><![CDATA[
/* global ajax,controls,validators,fileMgmt */

var contentSearchTerms = [];

function unaction() {};

function action( cid ) {
	if( typeof cid === "undefined" ) {
		return false;
	}
	validators.results = new Array();
	validators.results[cid] = false;
	setInputsClassOfValidators();
}

function actionFolder() {
	var cid = "<?=ID( 'folderEditPopup.folderName' );?>";
	action( cid );
}

function setInputsClassOfValidators() {
	for( var cid in validators.results ) {
		el = controls.$(cid);
		if( !(el) ) {
			continue;
		}
		if( !validators.results[cid] ) {
			controls.addClass( el, "error" );
		}
	}
}

function caseFoldersToggle() {
	$("#caseFolders").toggleClass( "show" );
	setTimeout( function() {
		$("#file_mgmt").slideToggle( 100 );
	}, 10 );
}

function FileMgmtPanel() {
	var selectedFolderID;
	var customSortList = null;
	var activeCustomSort = null;
	var activeBtns;
	var progressInterval = null;
	var folderPermissions = {"canManage":false, "canDelete":false};
	var hasDatasources = false;
	var searchText = '';
	var searchCancelled = false;
	var searchXhr;

	var searchOptions = {
		"folderID": ( $('#flagFolderSearch').hasClass( 'r_on' ) || $('#flagCaseFoldersSearch').hasClass( 'r_on' ) ) ? true : false, // true is temporary. If true, changes to int after call to initPanel() at end of file
		"searchContent": ( $('#flagContentSearch').hasClass( 'r_on' ) ) ? true : false,
		"includeFilename": ( $('#flagFilenameSearch').hasClass( 'r_on' ) ) ? true : false,
		"searchTerms": false,
		"caseFolders": ( $('#flagCaseFoldersSearch').hasClass( 'r_on' ) ) ? true : false
	};
	var oldSearchOptions = {};

	var self = this;

	this.getSearchOptions = function(){
		return searchOptions;
	};

	this.reload = function() {
		onLoad();
	};

	this.setSelectedFolderID = function( folderID ) {
		selectedFolderID = folderID;
	};

	this.selectFolder = function( folderID, callback ) {
		this.setSelectedFolderID( folderID );
		var scrollPos = $("#folderList").scrollTop();
		ajax.bind( function(){}, function(){}, function() {
			initPanel( ajax.result );
			$("#folderList").scrollTop( scrollPos );
			if( typeof callback === "function" ) {
				callback();
			}
		} ).doit( "->selectFolder", selectedFolderID );
		$("#checkAllFiles").removeClass( "checked" );
	};

	this.viewFile = function( event, fileID ) {
		if( activeCustomSort !== null ) {
			return;
		}
		cancelBubble( event );
		window.top.sourceFileID = fileID;
		ajax.doit( "->viewFile", fileID );
	};

	this.editFolder = function( event, folderID ) {
		if( activeCustomSort !== null ) {
			return;
		}
		cancelBubble( event );
		ajax.bind( function(){}, function(){}, function() {
			controls.display( '<?=ID( 'folderEditPopup.valFolderUniq' );?>','none' );
			controls.focus( '<?=ID( 'folderEditPopup.folderName' );?>' );
			focusEndOfStr( document.getElementById( '<?=ID( 'folderEditPopup.folderName' );?>' ) );
		} ).doit( '->showEditFolder', folderID );
	};

	this.editFile = function( event, fileID ) {
		if( activeCustomSort !== null ) {
			return;
		}
		cancelBubble( event );
		ajax.bind( function(){}, function(){}, function() {
			controls.display( '<?=ID( 'fileEditPopup.valFileUniq' );?>','none' );
			controls.focus( '<?=ID( 'fileEditPopup.fileName' );?>' );
			focusEndOfStr( document.getElementById( '<?=ID( 'fileEditPopup.fileName' );?>' ) );
		} ).doit( '->showEditFile', fileID );
	};

	this.saveFolder = function( folderID ) {
		if( validators.validate( 'folder', 'error', '' ) ) {
			ajax.doit( '->saveFolder', folderID );
		}
	};

	this.saveFile = function( fileID ) {
		if( validators.validate( "file", "error", "" ) ) {
			ajax.doit( '->saveFile', fileID );
		}
	};

	this.showUploadFiles = function() {
		ajax.doit( '->showUploadFiles' );
	};

	this.deleteFolder = function( confirm ) {
		if( activeCustomSort ) {
			return;
		}
		!!confirm ?  ajax.doit( "->deleteFolder", selectedFolderID ) : ajax.doit( "->confirmDeleteFolder", selectedFolderID );
	};

	this.downloadFolder = function() {
		if( activeCustomSort ) {
			return;
		}
		ajax.doit( "->downloadFolder" );
	};

	this.downloadFiles = function() {
		if( activeCustomSort ) {
			return;
		}
		ajax.doit( "->downloadFiles" );
	};

	this.deleteFiles = function( event, confirm ) {
		if( activeCustomSort ) {
			return;
		}
		!!confirm ? ajax.doit( '->deleteFiles' ) : ajax.doit( '->confirmDeleteFiles' );
	};

	this.copyFolder = function( event, confirm ) {
		if( activeCustomSort ) {
			return;
		}
		if( !!confirm ) {
			$('#actionProgress').attr( 'value', 0 ).show();
			ajax.bind( function(){}, function(){}, function() {
				clearInterval( progressInterval );
				ajax.doit( "->getCopyProgress" );
			} ).doit( "->copyFolder", ajax.getFormValues( '<?=ID( 'moveFilesPopup' );?>' ), selectedFolderID );
			progressInterval = setInterval( function() { ajax.doit( "->getCopyProgress" ); }, 500 );
		} else {
			ajax.doit( "->showMoveFolder", selectedFolderID, true );
		}
	};

	this.moveFolder = function( event, confirm ) {
		if( activeCustomSort ) {
			return;
		}
		!!confirm ? ajax.doit( "->moveFolder", ajax.getFormValues( '<?=ID( 'moveFilesPopup' );?>' ), selectedFolderID ) : ajax.doit( "->showMoveFolder", selectedFolderID, false );
	};

	this.copyFiles = function( event, confirm ) {
		if( activeCustomSort ) {
			return;
		}
		if( !!confirm ) {
			$('#actionProgress').attr( 'value', 0 ).show();
			ajax.bind( function(){}, function(){}, function() {
				clearInterval( progressInterval );
				ajax.doit( "->getCopyProgress" );
			} ).doit( "->copyFiles", ajax.getFormValues( '<?=ID( 'moveFilesPopup' );?>' ) );
			progressInterval = setInterval( function() { ajax.doit( "->getCopyProgress" ); }, 500 );
		} else {
			ajax.doit( "->showMoveFiles", true );
		}
	};

	this.moveFiles = function( event, confirm ) {
		if( activeCustomSort ) {
			return;
		}
		!!confirm ? ajax.doit( "->moveFiles", ajax.getFormValues( '<?=ID( 'moveFilesPopup' );?>' ) ) : ajax.doit( "->showMoveFiles", false );
	};

	this.selectFile = function( fileID ) {
		if( activeCustomSort ) {
			return;
		}
		fID = parseInt( fileID );
		if( !isNaN( fID ) && fID > 0 ) {
			if( $("#checkBox_" + fID).hasClass( "checked" ) ) {
				$("#checkBox_" + fID).removeClass( "checked" );
				$("#checkAllFiles").removeClass( "checked" );
			} else {
				$("#checkBox_" + fID).addClass( "checked" );
			}
			var len = $("#file_mgmt_fileList .custom_checkbox2.checked").length;
			$("#selectedFilesCount").html( "Selected (" + len + ")" );
			if( $("#fileMgmtFileList tr.sortable").length === len ) {
				$("#checkAllFiles").addClass( "checked" );
			}
			var scrollPos = $("#file_mgmt_fileList").scrollTop();
			ajax.bind( function(){}, function(){}, function() {
				if( typeof ajax.result.canDelete !== "undefined" ) {
					folderPermissions.canDelete = !!ajax.result.canDelete;
				}
				$("#file_mgmt_fileList").scrollTop( scrollPos );
				toggleFileOptionButtons();
			} ).doit( "->selectFile", fID );
		}
	};

	this.selectAll = function() {
		var len = 0;
		if( $("#file_mgmt_fileList .custom_checkbox2").length === 0 ) {
			return;
		}
		if( $("#checkAllFiles").hasClass( "checked" ) ) {
			$("#checkAllFiles").removeClass( "checked" );
			$("#fileMgmtFileList .custom_checkbox2.checked").removeClass( "checked" );
		} else {
			$("#checkAllFiles").addClass( "checked" );
			$("#fileMgmtFileList .custom_checkbox2").addClass( "checked" );
			len = $("#file_mgmt_fileList .custom_checkbox2.checked").length;
		}
		$("#selectedFilesCount").html( "Selected (" + len + ")" );
		var scrollPos = $("#file_mgmt_fileList").scrollTop();
		ajax.bind( function(){}, function(){}, function() {
			if( typeof ajax.result.canDelete !== "undefined" ) {
				folderPermissions.canDelete = !!ajax.result.canDelete;
			}
			$("#file_mgmt_fileList").scrollTop( scrollPos );
			toggleFileOptionButtons();
		} ).doit( "->selectAll" );
	};

	this.toggleSortOrder = function( sortObject ) {
		ajax.doit( '->toggleSortOrder', sortObject );
	};

	this.showSortMenu = function( event, sortObject ) {
		if( typeof event === "undefined" )  {
			event = window.event;
		}
		var folderOptions = [
			{"sortBy": "Name", "label":"Name"},
			{"sortBy": "Date", "label":"Date"},
			{"sortBy": "Custom", "label":"Custom"}
		];
		var lastOption = ( $('#file_mgmt').hasClass('contentSearch') ) ? {"sortBy": "Rank", "label":"Rank"} : {"sortBy": "Custom", "label":"Custom"};
		var fileOptions = [
			{"sortBy":"Name", "label":"Name"},
			{"sortBy":"Date", "label":"Date"},
			lastOption
		];
		var menuWrap = $("#customSortMenuWrap");
		var list = $("ul", menuWrap);
		list.empty();
		var sortOptions;
		if( sortObject === "Folders" ) {
			sortOptions = folderOptions;
		} else if( sortObject === "Files" ) {
			sortOptions = fileOptions;
		}
		if( !sortOptions ) {
			return;
		}
		var eTarget = (typeof event === "object" && typeof event.target !== "undefined" ) ? $(event.target) : null;
		for( var i in sortOptions ) {
			var item = sortOptions[i];
			var sortData = {"sortObject": sortObject, "sortBy": item.sortBy};
			var li = $('<li><div class="sortMenuCheck"></div></li>');
			if( eTarget && eTarget.text() === item.sortBy ) {
				$('.sortMenuCheck', li).addClass( "selected" );
			}
			li.append( item.label );
			li.on( "click", sortData, function( event ) {
				ajax.doit( '->changeSort', event.data.sortObject, event.data.sortBy );
				menuWrap.hide();
			} );
			if( item.sortBy === 'Custom' ) {
				var csEdit = $('<div class="customSortEdit">Edit</div>');
				csEdit.on( "click", sortData, function( event ) {
					cancelBubble( event );
					ajax.bind( function(){}, function(){}, function() {
						startCustomSort( event.data.sortObject );
					} ).doit( '->changeSort', event.data.sortObject, event.data.sortBy );
					menuWrap.hide();
				} );
				li.append( csEdit );
			}
			list.append( li );
		}
		if( typeof event === "object" && typeof event.target !== "undefined" ) {
			var menu = $("#customSortMenu", menuWrap);
			menuWrap.css( {"position": "absolute", "visibility": "hidden", "display": "block"} );
			var targetOffset = eTarget.offset();
			var tRect = event.target.getBoundingClientRect();
			var offsetTop = targetOffset.top + Math.round( tRect.height / 2 ) - Math.round( menu.height() / 2 );
			var offsetLeft = targetOffset.left + Math.round( tRect.width );
			menu.css( {"top": offsetTop + "px", "left": offsetLeft + "px"} );
		}
		menuWrap.css( {"position": "", "visibility": "", "display": "none"} );
		menuWrap.show();
	};

	this.showAddPlaceholder = function() {
		ajax.doit( '->showAddPlaceholder' );
	};

	this.addPlaceholder = function() {
		ajax.doitSync( '->addPlaceholder', ajax.getFormValues() );
	};

	this.searchKeyupHandler = function(e) {
		var searchText = e.target.value;

		if( ( e.keyCode || e.which ) == 13 ) {
			if( searchText.length !== 0 ) {
				fileMgmt.setSearchText( searchText );
				fileMgmt.initiateSearch();
			}
		} else {
			if( searchText.length === 0 ) {
				$('#clearSearchBarBtn').hide();
				$('#searchDone').text('Done');
			} else {
				$('#clearSearchBarBtn').show();
				$('#searchDone').text('Search');
			}
		}
	};

	this.startSearch = function() {
		$('.doc_search_container').addClass('active');
		$('.file_mgmt_buttons').hide();
		$('.doc_search_container input').focus();
	};

	this.stopSearch = function() {
		$('.doc_search_container').removeClass('active');
		$('.file_mgmt_buttons').show();
		$('#searchConfigPopup, #file_mgmt_disable').hide();
		$('#clearSearchBarBtn').hide();
		$('#searchDone').text('Done');
		$('input[name="searchDocs"]').val('');
		this.selectFolder( selectedFolderID, this.hideSearchResults );
	};

	this.doneSearchHandler = function(event) {
		if( $(event.target).text() === 'Done' ) {
			fileMgmt.stopSearch();
		} else {
			fileMgmt.initiateSearch();
		}
	};

	this.searchShadowHandler = function() {
		if( $('#searchConfigPopup').is(':visible') ) {
			this.applySearchOptions();
		}
	};

	this.searchConfigHandler = function() {
		if( $('#searchConfigPopup').is(':visible') ) {
			this.applySearchOptions();
		} else {
			$('#searchConfigPopup, #file_mgmt_disable').show();
			this.indexSearchOptions();
		}
	};

	this.applySearchOptions = function() {
		$('#searchConfigPopup, #file_mgmt_disable').hide();
		if( $('#file_mgmt').hasClass('contentSearch') && this.searchOptionsDidChange() ) {
			this.initiateSearch();
		}
	};

	this.toggleSearchOption = function( option ) {
		switch( option ) {
			case 'all':
				console.log( 'Search All Documents.' );
				if( !$( '#flagAllDocsSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagAllDocsSearch' ).addClass( 'r_on' );
					$( '#flagFolderSearch' ).removeClass( 'r_on' );
					$( '#flagCaseFoldersSearch' ).removeClass( 'r_on' );
					searchOptions.folderID = false;
					searchOptions.caseFolders = false;
				}
				break;
			case 'folder':
				console.log( 'Search Only Folder ID ' + selectedFolderID + ' Documents.' );
				if( !$( '#flagFolderSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagFolderSearch' ).addClass( 'r_on' );
					$( '#flagAllDocsSearch' ).removeClass( 'r_on' );
					$( '#flagCaseFoldersSearch' ).removeClass( 'r_on' );
					searchOptions.folderID = selectedFolderID;
					searchOptions.caseFolders = false;
				}
				break;
			case 'caseFolders':
				console.log( 'Search Only Case Folders.' );
				if( !$( '#flagCaseFoldersSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagCaseFoldersSearch' ).addClass( 'r_on' );
					$( '#flagFolderSearch' ).removeClass( 'r_on' );
					$( '#flagAllDocsSearch' ).removeClass( 'r_on' );
					searchOptions.folderID = selectedFolderID;
					searchOptions.caseFolders = true;
				}
				break;
			case 'content':
				console.log( 'Search Document Contents.' );
				if( !$( '#flagContentSearch' ).hasClass( 'r_on' ) || !$( '#flagFilenameSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagContentSearch' ).addClass( 'r_on' );
					searchOptions.searchContent = true;
					break;
				} else {
					searchOptions.searchContent = false;
				}
				$( '#flagContentSearch' ).removeClass( 'r_on' );
				break;
			case 'filename':
				console.log( 'Search Document Filenames.' );
				if( !$( '#flagFilenameSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagFilenameSearch' ).addClass( 'r_on' );
					searchOptions.includeFilename = true;
					break;
				} else {
					if( !$( '#flagContentSearch' ).hasClass( 'r_on' ) ) {
						$( '#flagContentSearch' ).addClass( 'r_on' );
						searchOptions.searchContent = true;
					}
					searchOptions.includeFilename = false;
				}
				$( '#flagFilenameSearch' ).removeClass( 'r_on' );
				break;
			default:
				return;
		}
		ajax.doit("->storeSearchOptions", searchOptions);
	};

	this.indexSearchOptions = function() {
		oldSearchOptions = {
			"caseFolders": searchOptions.caseFolders,
			"folderID": searchOptions.folderID,
			"searchContent": searchOptions.searchContent,
			"includeFilename": searchOptions.includeFilename
		};
	};

	this.searchOptionsDidChange = function() {
		if( oldSearchOptions.caseFolders !== searchOptions.caseFolders || oldSearchOptions.folderID !== searchOptions.folderID
				|| oldSearchOptions.searchContent !== searchOptions.searchContent || oldSearchOptions.includeFilename !== searchOptions.includeFilename ) {
			return true;
		}
		return false;
	};

	this.setSearchText = function( newSearchText ) {
		searchText = newSearchText;
	};

	this.getSearchText = function() {
		return searchText;
	};

	this.showSearchResults = function() {
		$('input[name="searchDocs"]').val(searchText);
		this.startSearch();
		$('#file_mgmt_disable').hide();
		$('#file_mgmt').addClass('contentSearch');
		this.highlightSearchTerms();
		popup.hide('searchCancelPopup');
	};

	this.highlightSearchTerms = function() {
		if( !!searchOptions.includeFilename ) {
			var context = document.querySelectorAll('#fileMgmtFileList .col2A');
			var instance = new Mark(context);
			instance.mark(contentSearchTerms, {"accuracy": "partially", "separateWordSearch": true});
		}
	};

	this.hideSearchResults = function() {
		$('#file_mgmt').removeClass('contentSearch');
	};

	this.clearSearch = function() {
		$('input[name="searchDocs"]').val('').focus();
		$('#clearSearchBarBtn').hide();
		$('#searchDone').text('Done');
	};

	this.initiateSearch = function() {
		searchCancelled = false;
		ajax.doit( '->showSearchCancel' );
	};

	this.doSearch = function() {
		if ( !searchText || searchCancelled ) {
			return;
		}
		searchOptions.searchTerms = searchText;
		searchXhr = ajax.doit( "->search", searchOptions );
	};

	this.preventSearchDisplay = function() {
		searchCancelled = true;
		ajax.abort( searchXhr );
		this.stopSearch();
		popup.hide('searchCancelPopup');
		this.selectFolder( selectedFolderID );
	};

	function startCustomSort( sortObject ) {
		console.log( 'startCustomSort', sortObject );
		if( ['Folders', 'Files'].indexOf( sortObject ) === -1 ) {
			console.error( 'startCustomSort: invalid sort object:', sortObject );
			return;
		}
		var toggleActions = true;
		if( activeCustomSort === sortObject ) {
			return;
		} else if( activeCustomSort !== null && activeCustomSort !== sortObject ) {
			toggleActions = false;
			finishCustomSort( activeCustomSort, toggleActions );
		}
		activeCustomSort = sortObject;
		toggleActiveButtons();
		$(".finishSortBtn").off().on( "click", {"sortObject": sortObject}, function( event ) {
			finishCustomSort( event.data.sortObject, true );
		} );
		if( sortObject === 'Folders' ) {
			activeCustomSort = sortObject;
			customSortList = $('#fileMgmtFolderList tbody');
			$('.folders_block').addClass('custom_edit');
			$('.files_block').removeClass('custom_edit');
		} else if( sortObject === 'Files' ) {
			activeCustomSort = sortObject;
			customSortList = $('#fileMgmtFileList tbody');
			$('.files_block').addClass('custom_edit');
			$('.folders_block').removeClass('custom_edit');
		}

		var options = {
			items: '.sortable',
			containment: 'parent',
			helper: 'clone',
			tolerance: 'pointer',
			start: function( event, ui ) { ui.helper.first().css( 'background-color', 'lightblue' ); },
			placeholder: {
				element: function( currentItem ) { return $('<div style="width:0px; height:22px;"></div>')[0]; },
				update: function( container, p ) { return; }
			}
		};

		customSortList.sortable( options );
	};

	function saveCustomSort( sortObject ) {
		console.log( 'saveCustomSort', sortObject );
		if( ['Folders', 'Files'].indexOf( sortObject ) === -1 ) {
			console.error( 'saveCustomSort: invalid sort object:', sortObject );
			return;
		}
		if( customSortList === null ) {
			console.error( 'saveCustomSort: invalid sort list:', customSortList );
			return;
		}
		ajax.doit( "->setCustomSort", sortObject, customSortList.sortable( "toArray", {"attribute":"data-id"} ) );
	};

	function finishCustomSort( sortObject, toggleActions ) {
		console.log( 'finishCustomSort', sortObject );
		if( ['Folders', 'Files'].indexOf( sortObject ) === -1 ) {
			console.error( 'startCustomSort: invalid sort object:', sortObject );
			return;
		}
		activeCustomSort = null;
		toggleActiveButtons();
		if( customSortList === null ) {
			console.info( 'finishCustomSort: invalid sort list:', customSortList );
			return;
		}
		if( sortObject === 'Folders' ) {
			$('.folders_block').removeClass( 'custom_edit' );
		} else if( sortObject === 'Files' ) {
			$('.files_block').removeClass( 'custom_edit' );
		}
		if( customSortList.hasClass( 'ui-sortable' ) ) {
			saveCustomSort( sortObject );
			customSortList.sortable( 'destroy' );
		}
		customSortList = null;
		$(".finishSortBtn").off();
	};

	function importToCase() {
		ajax.doit( "->importToCase" );
	};

	function toggleFileOptionButtons() {
		var len = $("#file_mgmt_fileList .custom_checkbox2.checked").length;
		// enable/disable buttons
		var btnDownload = $("#downloadFileBtn");
		var btnCopy = $("#copyFileBtn");
		var btnMove = $("#moveFileBtn");
		var btnDelete = $("#deleteFileBtn");
		if( len > 0 ) {
			btnDownload.removeAttr( "onclick" ).off().on( "click", self.downloadFiles ).addClass( "active" );
			btnCopy.removeAttr( "onclick" ).off().on( "click", self.copyFiles ).addClass( "active" );
			if( folderPermissions.canManage ) {
				btnMove.removeAttr( "onclick" ).off().on( "click", self.moveFiles ).addClass( "active" );
			} else {
				btnMove.off().removeClass( "active" );
			}
			if( folderPermissions.canDelete ) {
				btnDelete.removeAttr( "onclick" ).off().on( "click", self.deleteFiles ).addClass( "active" );
			} else {
				btnDelete.off().removeClass( "active" );
			}
		} else {
			btnDownload.off().removeClass( "active" );
			btnCopy.off().removeClass( "active" );
			btnMove.off().removeClass( "active" );
			btnDelete.off().removeClass( "active" );
		}
	};

	function toggleActiveButtons() {
		if( activeCustomSort ) {
			var activeBtnSel = ".file_mgmt_table td.view.active, .file_mgmt_table td.rename.active, .file_mgmt_buttons > .active, .option_btns > .active";
			activeBtns = $(activeBtnSel).removeClass( "active" );
		} else {
			activeBtns.addClass( "active" );
			activeBtns = null;
		}
	};

	function cancelBubble( event ) {
		if( typeof event === "undefined" )  {
			event = window.event;
		}
		if( typeof event === "object" && event !== null ) {
			event.returnValue = false;
			if( typeof event.stopPropagation === "function" ) {
				event.stopPropagation();
			}
			if( typeof event.preventDefault === "function" ) {
				event.preventDefault();
			}
		}
	};

	function focusEndOfStr( el ) {
		if( typeof el !== 'object' || el === null || typeof el.value !== 'string' ) {
			return;
		}
		var elemLen = el.value.length;
		// for IE only
		if( document.selection ) {
			el.focus(); // set focus
			var oSel = document.selection.createRange(); // use IE ranges
			oSel.moveStart( "character", -elemLen ); // reset position to 0 then set at end
			oSel.moveStart( "character", elemLen );
			oSel.moveEnd( "character", 0 );
			oSel.select();
		} else if( el.selectionStart || el.selectionStart === 0 ) {
			// firefox/chrome
			el.selectionStart = elemLen;
			el.selectionEnd = elemLen;
			el.focus();
		}
	};

	function onLoad() {
		if( hasDatasources ) {
			$("#importBtn").off().on( "click", importToCase );
		}
	};

	function initPanel( params ) {
		if( typeof params === "object" && params !== null ) {
			if( typeof params.selectedFolderID !== "undefined" ) {
				var sFolderID = parseInt( params.selectedFolderID );
				if( !isNaN( sFolderID ) && sFolderID > 0 ) {
					selectedFolderID = sFolderID;
				}
			}
			if( typeof params.canManageFolder !== "undefined" ) {
				folderPermissions.canManage = !!params.canManageFolder;
			}
			if( typeof params.hasDatasources ) {
				hasDatasources = !!params.hasDatasources;
			}
		}
		if( hasDatasources ) {
			$("#importBtn").off().on( "click", importToCase );
		}
	};

	function compareRows( index ) {
		return function( rowA, rowB ) {
			var valA = $( rowA ).children( 'td' ).eq( index ).text();
			var valB = $( rowB ).children( 'td' ).eq( index ).text();
			return $.isNumeric(valA) && $.isNumeric( valB ) ? valA - valB : valA.localeCompare( valB);
		};
	}

	onLoad();

	//initPanel
	ajax.bind( function(){}, function(){}, function() {
		initPanel( ajax.result );
		if( searchOptions.folderID && typeof ajax.result.selectedFolderID !== "undefined") {
			searchOptions.folderID = ajax.result.selectedFolderID;
		}
	} ).doit( "->initPanel" );
}

var fileMgmt = new FileMgmtPanel();

function preventSearchDisplay(){
	fileMgmt.preventSearchDisplay();
}

]]></script>
</panel>
