<panel id="mainform" class="content_top_reseller" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main">
	<div class="content">
        <div class="content_header">
            <h2><img src="/Application/_includes/backend/asset/images/CM-Blue.png"/> Case Management</h2>
            <div class="option_block">
                <? if( $isAdmin ): ?>
                <a href="/<?=$url?>/case/add" class="btn_blue option_btn">
                    <span class="btn_blue_r"> Add New Case</span>
                </a>
                <? endif; ?>
            </div>
        </div>
        <div class="content m_t20">
            <widgetcases id="cases"></widgetcases>
        </div>
	</div>

    </div>
</panel>
