<panel id="signup" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/signup/general.html">
	<popup id="confirmDialog" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/confirm.html"></popup>
	<div class="content">
		<div class="brand" style="<?=($resellerColor ? "background-color: {$resellerColor};" : '');?><?=($resellerTextColor ? "color: {$resellerTextColor};" : '');?>">
			<a href="/"><div class="reseller_logo" style="<?=($resellerLogo ? "background-image:url('{$resellerLogo}');" : '');?>"></div></a>
		</div>
		<br/>
		<div class="form">
			<?php if( $hasAccount ): ?>
				<?php if( $isActivated ): ?>
			<div style="text-align:center;">
				<h3>Thank you for confirming your account.</h3>
				<p>You can login to start using eDepoze&trade;</p>
				<br/>
				<div>
					<textbutton id="login" class="submit" value="Login" onclick="window.location.href='/';"></textbutton>
				</div>
			</div>
				<?php else: ?>
			<div>
				<h3>Confirm your account.</h3>
			</div>
			<br/>
			<div>
				<p>You must set a password for your eDepoze&trade; account before you can login.</p>
			</div>
			<br/>
			<div>
				<p>Choose your password:</p>
				<div id="pwd-req-wrap">
					<div class="pwd-req" style="display:none;">
						<div id="passwordRequirements">
							<section id="reqTitle">
								<h2>Password Requirements:</h2>
							</section>
							<section id="reqBody">
								<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
								<ul>
									<li>Uppercase letter (A-Z)</li>
									<li>Lowercase letter (a-z)</li>
									<li>Number (0-9)</li>
									<li>Symbols (#@!$%&amp;:;)</li>
								</ul>
							</section>
						</div>
					</div>
				</div>
				<div>
					<textbox id="password" type="password" class="field" placeholder="Password" onfocus="togglePasswordRequirements( event )" onblur="togglePasswordRequirements( event )"></textbox>
					<validatorcustom id="valPasswordCriteria" tag="div" class="error2" groups="signup" client="1" clientFunction="validatePasswordCriteria" controls="password" text="** Please choose a stonger password. **"></validatorcustom>
					<validatorrequired id="valPassword" tag="div" class="error2" controls="password" client="1" groups="signup" text="** Password is required **"></validatorrequired>
				</div>
				<div>
					<textbox id="confirmPassword" type="password" class="field" placeholder="Confirm Password" onkeyup="if( event.keyCode === 13 ) confirmSignUp( event );"></textbox>
					<validatorcompare id="valcomparepassword" tag="div" class="error2" controls="password,confirmPassword" groups="signup" client="1">** These passwords do not match. **</validatorcompare>

				</div>
				<div>
					<textbutton id="submit" class="submit" value="Submit" onclick="confirmSignUp( event )"></textbutton>
				</div>
			</div>
				<?php endif; ?>
			<?php else: ?>
			<div>
				<h3>Unable to confirm your request.</h3>
				<p>Please check the link and try again.</p>
			</div>
			<?php endif; ?>
		</div>
	</div>
<script type="text/javascript"><![CDATA[
function  togglePasswordRequirements( event ) {
	var req = $("#pwd-req-wrap > .pwd-req");
	if( req ) {
		if( req.is(':visible') ) {
			req.hide();
		} else {
			req.show();
		}
	}
}
function validatePasswordCriteria( ctrls, mode ) {
	var flag = false;
	var ctrlPwd = controls.$( ctrls[ 0 ] );
	flag = (ctrlPwd.value.length === 0);
	if( flag ) {
		validators.results[ ctrls [ 0 ] ] = flag;
		return flag;
	}
	flag = (ctrlPwd.value.length >= 8);
	var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
	var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
	var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
	var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
	var t = (l + u + d + s >= 3);
	flag &= t;
	validators.results[ ctrls[ 0 ] ] = flag;
	return flag;
}
var f_lock = false;
function confirmSignUp( event ) {
	if( !!f_lock ) {
		return;
	}
	f_lock = true;
	var fv = ajax.getFormValues( '<?=ID( 'signup' );?>' );
	fv.password = sha1( fv.password );
	fv.confirmPassword = sha1( fv.confirmPassword );
	var su_flag = validators.validate( 'signup', 'error', '' );
	if( !su_flag ) {
		f_lock = false;
		return;
	}
	var pw = $("#<?=ID('password');?>");
	var cpw = $("#<?=ID('confirmPassword');?>");
	valPW = pw.val();
	valCPW = cpw.val();
	pw.val( fv.password );
	cpw.val( fv.confirmPassword );
	ajax.bind( function(){}, function(){}, function() {
		pw.val( valPW );
		cpw.val( valCPW );
		setTimeout( function() {
			f_lock = false;
		}, 1000 );
	} ).doit( '->confirm', fv );
}
]]></script>
</panel>
