<panel id="signup" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/signup/general.html">
	<popup id="confirmDialog" template="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/popups/confirm.html"></popup>
	<div class="content">
		<div class="brand" style="<?=($resellerColor ? "background-color: {$resellerColor};" : '');?><?=($resellerTextColor ? "color: {$resellerTextColor};" : '');?>">
			<a href="/"><div class="reseller_logo" style="<?=($resellerLogo ? "background-image:url('{$resellerLogo}');" : '');?>"></div></a>
		</div>
		<div class="form us">
			<h2>Join today.</h2>
			<div>
				<textbox id="fullName" class="field" placeholder="Full Name"></textbox>
				<validatorrequired id="valFullName" tag="div" class="error2" controls="fullName" client="1" groups="signup" text="** Full Name is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="firm" class="field" placeholder="Law Firm / Company"></textbox>
			</div>
			<div>
				<dropdownbox id="countrycode" class="field countrycode countryToggle" size="1" onchange="toggleCountry()"></dropdownbox>
				<validatorrequired id="valCountryCode" tag="div" class="error2" controls="countrycode" client="1" groups="signup" text="** Country is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="address1" class="field" placeholder="Address"></textbox>
				<validatorrequired id="valAddress" tag="div" class="error2" controls="address1" client="1" groups="signup" text="** Address is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="address2" class="field" placeholder="Address (continued)"></textbox>
			</div>
			<div>
				<div>
					<textbox id="city" class="field city" placeholder="City"></textbox>
					<dropdownbox id="state" class="field state country-us"></dropdownbox>
					<dropdownbox id="province" class="field province country-ca" disabled="disabled" style="display:none;"></dropdownbox>
				</div>
				<div class="f_l">
					<validatorrequired id="valCity" tag="div" class="error2" controls="city" client="1" groups="signup" text="** City is required **"></validatorrequired>
				</div>
				<div class="f_r">
					<validatorrequired id="valState" tag="div" class="error2" controls="state" client="1" groups="countryUS" text="** State is required **"></validatorrequired>
					<validatorrequired id="valProvince" tag="div" class="error2" controls="province" client="1" groups="countryCA" text="** Province is required **"></validatorrequired>
				</div>
			</div>
			<div>
				<textbox id="region" class="field region country-ot" disabled="disabled" placeholder="Region" style="display:none;"></textbox>
				<validatorrequired id="valRegion" tag="div" class="error2" controls="region" client="1" groups="countryOT" text="** Region is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="zipcode" type="tel" class="field zipcode country-us" maxlength="10" placeholder="Zipcode" onkeyup="this.value=this.value.replace( /[^\d]/g, '' );"></textbox>
				<textbox id="postalcode" class="field postalcode country-ca country-ot" disabled="disabled" placeholder="Postal Code" style="display:none;"></textbox>
				<validatorrequired id="valZipcode" tag="div" class="error2" controls="zipcode" client="1" groups="countryUS" text="** Zipcode is required **"></validatorrequired>
				<validatorrequired id="valPostalCode" tag="div" class="error2" controls="postalcode" client="1" groups="countryCA,countryOT" text="** Postal Code is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="email" type="email" class="field" placeholder="Email"></textbox>
				<validatoremail id="valEmail" tag="div" class="error2" groups="signup" client="1" controls="email" text="** Email is invalid. **"></validatoremail>
				<validatorrequired id="valEmailReq" tag="div" class="error2" controls="email" client="1" groups="signup" text="** Email is required **"></validatorrequired>
				<validatorcustom id="valUsernameUniq" tag="div" class="error2" groups="signup" client="0" serverFunction="->checkUsername" action="action()" unaction="unaction()" controls="email" text="** An account with this email already exists **"></validatorcustom>
			</div>
			<div id="pwd-req-wrap">
				<div class="pwd-req" style="display:none;">
					<div id="passwordRequirements">
						<section id="reqTitle">
							<h2>Password Requirements:</h2>
						</section>
						<section id="reqBody">
							<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
							<ul>
								<li>Uppercase letter (A-Z)</li>
								<li>Lowercase letter (a-z)</li>
								<li>Number (0-9)</li>
								<li>Symbols (#@!$%&amp;:;)</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
			<div>
				<textbox id="password" type="password" class="field" placeholder="Password" onfocus="togglePasswordRequirements( event )" onblur="togglePasswordRequirements( event )"></textbox>
				<validatorcustom id="valPasswordCriteria" tag="div" class="error2" groups="signup" client="1" clientFunction="validatePasswordCriteria" controls="password" text="** Please choose a stonger password. **"></validatorcustom>
				<validatorrequired id="valPassword" tag="div" class="error2" controls="password" client="1" groups="signup" text="** Password is required **"></validatorrequired>
			</div>
			<div>
				<textbox id="confirmPassword" type="password" class="field" placeholder="Confirm Password"></textbox>
				<validatorcompare id="valcomparepassword" tag="div" class="error2" controls="password,confirmPassword" groups="signup" client="1">** These passwords do not match. **</validatorcompare>

			</div>
			<div>
				<textbutton id="submit" class="submit" value="Sign up" onclick="submitSignUp( event )"></textbutton>
			</div>
		</div>
	</div>

<script type="text/javascript"><![CDATA[
function toggleCountry() {
	var toggle = $(".countryToggle");
	var us = $(".country-us");
	var ca = $(".country-ca");
	var ot = $(".country-ot");
	var val = toggle.val().toLowerCase();
	$(".signup-general .form").removeClass( "us ca ot" ).addClass( val );
	switch( val ) {
		case "ca":
			us.hide();
			ot.hide();
			us.attr( "disabled", "disabled" );
			ot.attr( "disabled", "disabled" );
			ca.removeAttr( "disabled" );
			ca.show();
			break;
		case "ot":
			us.hide();
			ca.hide();
			us.attr( "disabled", "disabled" );
			ca.attr( "disabled", "disabled" );
			ot.removeAttr( "disabled" );
			ot.show();
			break;
		case "us":
		default:
			ca.hide();
			ot.hide();
			ca.attr( "disabled", "disabled" );
			ot.attr( "disabled", "disabled" );
			us.removeAttr( "disabled" );
			us.show();
			break;
	}
	if( didValidate === true ) {
		validators.validate( 'signup', 'error', '' );
	}
}

function  togglePasswordRequirements( event ) {
	var req = $("#pwd-req-wrap > .pwd-req");
	if( req ) {
		if( req.is(':visible') ) {
			req.hide();
		} else {
			req.show();
		}
	}
}

function setInputsClassOfValidators() {
	for( var cid in validators.results ) {
		var el = controls.$( cid );
		if( !el ) {
			continue;
		}
		if( !validators.results[ cid ] ) {
			controls.addClass( el, "error" );
		}
	}
}

function action( cid ) {
	if( typeof cid === "undefined" ) {
		cid = "<?=ID('email');?>";
	}
	validators.results = new Array();
	validators.results[ cid ] = false;
	setInputsClassOfValidators();
}

function unaction() {};

function validatePasswordCriteria( ctrls, mode ) {
	var flag = false;
	var ctrlPwd = controls.$( ctrls[ 0 ] );
	flag = (ctrlPwd.value.length === 0);
	if( flag ) {
		validators.results[ ctrls [ 0 ] ] = flag;
		return flag;
	}
	flag = (ctrlPwd.value.length >= 8);
	var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
	var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
	var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
	var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
	var t = (l + u + d + s >= 3);
	flag &= t;
	validators.results[ ctrls[ 0 ] ] = flag;
	return flag;
}

var didValidate = null;
var f_lock = false;
function submitSignUp( event ) {
	if( !!f_lock ) {
		return;
	}
	f_lock = true;
	didValidate = true;
	var fv = ajax.getFormValues( '<?=ID( 'signup' );?>' );
	fv.password = sha1( fv.password );
	fv.confirmPassword = sha1( fv.confirmPassword );
	var su_flag = validators.validate( 'signup', 'error', '' );
	var us_flag = validators.validate( 'countryUS', 'error', '' );
	var ca_flag = validators.validate( 'countryCA', 'error', '' );
	var ot_flag = validators.validate( 'countryOT', 'error', '' );
	if( !su_flag || !us_flag || !ca_flag || !ot_flag ) {
		f_lock = false;
		return;
	}
	var pw = $("#<?=ID('password');?>");
	var cpw = $("#<?=ID('confirmPassword');?>");
	valPW = pw.val();
	valCPW = cpw.val();
	pw.val( fv.password );
	cpw.val( fv.confirmPassword );
	ajax.bind( function(){}, function(){}, function() {
		pw.val( valPW );
		cpw.val( valCPW );
		setTimeout( function() {
			f_lock = false;
		}, 1000 );
	} ).doit( '->signup', fv );
}
]]></script>
</panel>
