<panel id="signup" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/signup/general.html">
	<div class="content">
		<div class="brand" style="<?=($resellerColor ? "background-color: {$resellerColor};" : '');?><?=($resellerTextColor ? "color: {$resellerTextColor};" : '');?>">
			<a href="/"><div class="reseller_logo" style="<?=($resellerLogo ? "background-image:url('{$resellerLogo}');" : '');?>"></div></a>
		</div>
		<br/>
		<div class="form" style="text-align:center;">
			<h2>Thank you.</h2>
			<br/>
			<div>
				<p>A confirmation has been sent to your email.</p>
				<p>Please follow the instructions to confirm your account.</p>
			</div>
		</div>
	</div>
</panel>
