<div class="panel_control">
	<navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
    </p>
</div>
<table class="tbl_info">
    <tr>
        <th width="25" align="center"></th>
        <th width="100"><?=$links[0];?></th>
        <th width="300"><?=$links[1];?></th>
		<th><?=$links[2];?></th>
        <th width="80">&nbsp;</th>
   </tr>
   <? foreach ($rows as $idx => $row) { ?>
   <tr class="<?= $idx%2 ? 'zebra':'';?>">
       <td align="center"><? if($isFileExist):?><a class="custom_checkbox numeric f_l <?=(isset($emails[$row['email']]) ? ' checked' : '');?>" href="javascript:;" onclick="selectEmail('<?=$row['email'];?>','<?=$row['name'];?>');"></a><? endif;?></td>
       <td><?=$row['vendor'];?></td>
       <td><div style="word-wrap: break-word"><?=$row['name'];?></div></td>
	   <td><?=$row['URI'];?></td>
       <td>
            <div class="hide_links">
                <a href="javascript:;" onclick="showEditDatasource( '<?=$row['ID'];?>' );">Edit</a>
				<a href="javascript:;" onclick="deleteDatasource( '<?=$row['ID'];?>', 0 );">Delete</a>
            </div>
       </td>
    </tr>
    <? } ?>
    <? if (count($rows) == 0) { ?>
   <tr>
     <td colspan="8" class="t_a_c">
       <strong>Empty list</strong>
     </td>
   </tr>
   <? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
    </p>
    <div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript">
<![CDATA[
widgetDatasourcesCallback = '<?=$class?>@<?=$uniqueID?>';
]]>
</script>